<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">Y251WvUIjh</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/easysdi</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="hibernate.ejb.naming_strategy">org.easysdi.proxy.namingStrategy.CustomNamingStrategy</property>
    

        <property name="hibernate.cache.use_second_level_cache">false</property>
        <property name="hibernate.cache.use_query_cache">false</property>
        <property name="hibernate.generate_statistics">false</property>

        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.query.factory_class">org.hibernate.hql.classic.ClassicQueryTranslatorFactory</property>
    
        <mapping class="org.easysdi.proxy.domain.SdiPolicyOrganism"/>
        <mapping class="org.easysdi.proxy.domain.SdiSysMetadatastate"/>
        <mapping class="org.easysdi.proxy.domain.SdiSysServicecomplianceHome"/>
        <mapping class="org.easysdi.proxy.domain.SdiSysRole"/>
        <mapping class="org.easysdi.proxy.domain.SdiWfsSpatialpolicy"/>
        <mapping class="org.easysdi.proxy.domain.SdiSysServicecompliance"/>
        <mapping class="org.easysdi.proxy.domain.SdiUserHome"/>
        <mapping class="org.easysdi.proxy.domain.SdiSysServicescope"/>
        <mapping class="org.easysdi.proxy.domain.SdiSysServiceversionHome"/>
        <mapping class="org.easysdi.proxy.domain.SdiPolicyVisibility"/>
        <mapping class="org.easysdi.proxy.domain.SdiCswSpatialpolicy"/>
        <mapping class="org.easysdi.proxy.domain.SdiUser"/>
        <mapping class="org.easysdi.proxy.domain.SdiVirtualPhysical"/>
        <mapping class="org.easysdi.proxy.domain.SdiPolicyResourcetype"/>
        <mapping class="org.easysdi.proxy.domain.SdiSysOperationcompliance"/>
        <mapping class="org.easysdi.proxy.domain.SdiResourcetypeHome"/>
        <mapping class="org.easysdi.proxy.domain.SdiSysLogrollHome"/>
        <mapping class="org.easysdi.proxy.domain.SdiSysAccessscope"/>
        <mapping class="org.easysdi.proxy.domain.SdiSysAuthenticationconnector"/>
        <mapping class="org.easysdi.proxy.domain.SdiWmsSpatialpolicyHome"/>
        <mapping class="org.easysdi.proxy.domain.SdiMetadataHome"/>
        <mapping class="org.easysdi.proxy.domain.SdiPhysicalservicePolicy"/>
        <mapping class="org.easysdi.proxy.domain.SdiAllowedoperation"/>
        <mapping class="org.easysdi.proxy.domain.SdiWfsSpatialpolicyHome"/>
        <mapping class="org.easysdi.proxy.domain.SdiSysAuthenticationlevel"/>
        <mapping class="org.easysdi.proxy.domain.SdiSysAuthenticationlevelHome"/>
        <mapping class="org.easysdi.proxy.domain.SdiSysRoleHome"/>
        <mapping class="org.easysdi.proxy.domain.SdiSysLoglevelHome"/>
        <mapping class="org.easysdi.proxy.domain.SdiNamespace"/>
        <mapping class="org.easysdi.proxy.domain.SdiWmslayerPolicyHome"/>
        <mapping class="org.easysdi.proxy.domain.SdiSysCountryHome"/>
        <mapping class="org.easysdi.proxy.domain.SdiWmtslayerPolicyHome"/>
        <mapping class="org.easysdi.proxy.domain.SdiVersionHome"/>
        <mapping class="org.easysdi.proxy.domain.SdiSysExceptionlevel"/>
        <mapping class="org.easysdi.proxy.domain.SdiOrganismCategory"/>
        <mapping class="org.easysdi.proxy.domain.SdiPhysicalserviceServicecomplianceHome"/>
        <mapping class="org.easysdi.proxy.domain.SdiVersion"/>
        <mapping class="org.easysdi.proxy.domain.SdiUserRoleOrganism"/>
        <mapping class="org.easysdi.proxy.domain.SdiProfileHome"/>
        <mapping class="org.easysdi.proxy.domain.SdiPhysicalservice"/>
        <mapping class="org.easysdi.proxy.domain.SdiSysLogroll"/>
        <mapping class="org.easysdi.proxy.domain.SdiSysAddresstypeHome"/>
        <mapping class="org.easysdi.proxy.domain.SdiWmtsSpatialpolicyHome"/>
        <mapping class="org.easysdi.proxy.domain.Session"/>
        <mapping class="org.easysdi.proxy.domain.SdiCswSpatialpolicyHome"/>
        <mapping class="org.easysdi.proxy.domain.Extensions"/>
        <mapping class="org.easysdi.proxy.domain.SdiSysAccessscopeHome"/>
        <mapping class="org.easysdi.proxy.domain.SdiPolicy"/>
        <mapping class="org.easysdi.proxy.domain.SdiAccessscopeHome"/>
        <mapping class="org.easysdi.proxy.domain.SdiResource"/>
        <mapping class="org.easysdi.proxy.domain.SdiPhysicalserviceServicecompliance"/>
        <mapping class="org.easysdi.proxy.domain.SdiSysLoglevel"/>
        <mapping class="org.easysdi.proxy.domain.SdiTilematrixPolicy"/>
        <mapping class="org.easysdi.proxy.domain.SessionHome"/>
        <mapping class="org.easysdi.proxy.domain.SdiSysCountry"/>
        <mapping class="org.easysdi.proxy.domain.SdiSysProxytypeHome"/>
        <mapping class="org.easysdi.proxy.domain.SdiSysSpatialoperatorHome"/>
        <mapping class="org.easysdi.proxy.domain.SdiSysMaptool"/>
        <mapping class="org.easysdi.proxy.domain.SdiSysServiceoperation"/>
        <mapping class="org.easysdi.proxy.domain.SdiSysServicescopeHome"/>
        <mapping class="org.easysdi.proxy.domain.ExtensionsHome"/>
        <mapping class="org.easysdi.proxy.domain.SdiAccessscope"/>
        <mapping class="org.easysdi.proxy.domain.SdiSysServiceconnector"/>
        <mapping class="org.easysdi.proxy.domain.SdiSysAddresstype"/>
        <mapping class="org.easysdi.proxy.domain.SdiSysServiceconnectorHome"/>
        <mapping class="org.easysdi.proxy.domain.SdiResourcetype"/>
        <mapping class="org.easysdi.proxy.domain.SdiVirtualservice"/>
        <mapping class="org.easysdi.proxy.domain.SdiPolicyCategory"/>
        <mapping class="org.easysdi.proxy.domain.SdiVirtualserviceHome"/>
        <mapping class="org.easysdi.proxy.domain.SdiSysVersiontypeHome"/>
        <mapping class="org.easysdi.proxy.domain.SdiProfile"/>
        <mapping class="org.easysdi.proxy.domain.SdiTilematrixsetPolicyHome"/>
        <mapping class="org.easysdi.proxy.domain.SdiPolicyOrganismHome"/>
        <mapping class="org.easysdi.proxy.domain.SdiAllowedoperationHome"/>
        <mapping class="org.easysdi.proxy.domain.SdiSysOperationcomplianceHome"/>
        <mapping class="org.easysdi.proxy.domain.SdiPolicyMetadatastate"/>
        <mapping class="org.easysdi.proxy.domain.SdiNamespaceHome"/>
        <mapping class="org.easysdi.proxy.domain.SdiSysMaptoolHome"/>
        <mapping class="org.easysdi.proxy.domain.SdiSysMetadataversionHome"/>
        <mapping class="org.easysdi.proxy.domain.SdiPolicyUserHome"/>
        <mapping class="org.easysdi.proxy.domain.SdiSysAuthenticationconnectorHome"/>
        <mapping class="org.easysdi.proxy.domain.SdiCategoryHome"/>
        <mapping class="org.easysdi.proxy.domain.SdiIncludedattribute"/>
        <mapping class="org.easysdi.proxy.domain.SdiWmslayerPolicy"/>
        <mapping class="org.easysdi.proxy.domain.SdiPolicyResourcetypeHome"/>
        <mapping class="org.easysdi.proxy.domain.SdiSysServiceoperationHome"/>
        <mapping class="org.easysdi.proxy.domain.SdiVirtualmetadataHome"/>
        <mapping class="org.easysdi.proxy.domain.SdiSysMetadataversion"/>
        <mapping class="org.easysdi.proxy.domain.SdiSysProxytype"/>
        <mapping class="org.easysdi.proxy.domain.SdiTilematrixsetPolicy"/>
        <mapping class="org.easysdi.proxy.domain.SdiIncludedattributeHome"/>
        <mapping class="org.easysdi.proxy.domain.SdiSysUnitHome"/>
        <mapping class="org.easysdi.proxy.domain.SdiSysServiceversion"/>
        <mapping class="org.easysdi.proxy.domain.SdiExcludedattributeHome"/>
        <mapping class="org.easysdi.proxy.domain.SdiMetadata"/>
        <mapping class="org.easysdi.proxy.domain.SdiWmtslayerPolicy"/>
        <mapping class="org.easysdi.proxy.domain.UsersHome"/>
        <mapping class="org.easysdi.proxy.domain.SdiSysExceptionlevelHome"/>
        <mapping class="org.easysdi.proxy.domain.SdiCategory"/>
        <mapping class="org.easysdi.proxy.domain.SdiVirtualmetadata"/>
        <mapping class="org.easysdi.proxy.domain.SdiFeaturetypePolicy"/>
        <mapping class="org.easysdi.proxy.domain.SdiSysVersiontype"/>
        <mapping class="org.easysdi.proxy.domain.SdiPhysicalservicePolicyHome"/>
        <mapping class="org.easysdi.proxy.domain.SdiOrganismHome"/>
        <mapping class="org.easysdi.proxy.domain.SdiPolicyVisibilityHome"/>
        <mapping class="org.easysdi.proxy.domain.SdiSysSpatialoperator"/>
        <mapping class="org.easysdi.proxy.domain.SdiOrganism"/>
        <mapping class="org.easysdi.proxy.domain.Users"/>
        <mapping class="org.easysdi.proxy.domain.SdiResourceHome"/>
        <mapping class="org.easysdi.proxy.domain.SdiPolicyUser"/>
        <mapping class="org.easysdi.proxy.domain.SdiFeaturetypePolicyHome"/>
        <mapping class="org.easysdi.proxy.domain.SdiSysUnit"/>
        <mapping class="org.easysdi.proxy.domain.SdiTilematrixPolicyHome"/>
        <mapping class="org.easysdi.proxy.domain.SdiVirtualPhysicalHome"/>
        <mapping class="org.easysdi.proxy.domain.SdiPhysicalserviceHome"/>
        <mapping class="org.easysdi.proxy.domain.SdiWmtsSpatialpolicy"/>
        <mapping class="org.easysdi.proxy.domain.SdiPolicyHome"/>
        <mapping class="org.easysdi.proxy.domain.SdiPolicyMetadatastateHome"/>
        <mapping class="org.easysdi.proxy.domain.SdiWmsSpatialpolicy"/>
        <mapping class="org.easysdi.proxy.domain.SdiUserRoleOrganismHome"/>
        <mapping class="org.easysdi.proxy.domain.SdiSysMetadatastateHome"/>
        <mapping class="org.easysdi.proxy.domain.SdiExcludedattribute"/>
    </session-factory>
</hibernate-configuration>
