.icon-48-services {
      background-image: url(../images/l_services.png);
      padding-left:60px!important;
}

.icon-48-service {
      background-image: url(../images/l_services.png);
      padding-left:60px!important;
}

.icon-48-virtualservices {
      background-image: url(../images/l_virtualservices.png);
      padding-left:60px!important;
}

.icon-48-virtualservice {
      background-image: url(../images/l_virtualservices.png);
      padding-left:60px!important;
}

.icon-48-physicalservices {
      background-image: url(../images/l_physicalservices.png);
      padding-left:60px!important;
}

.icon-48-physicalservice {
      background-image: url(../images/l_physicalservices.png);
      padding-left:60px!important;
}

.icon-48-policies {
      background-image: url(../images/l_policies.png);
      padding-left:60px!important;
}

.icon-48-policy {
      background-image: url(../images/l_policies.png);
      padding-left:60px!important;
}

