<?xml version="1.0" encoding="UTF-8"?>
<configurations>
	<config id="metacarta_open">
		<authorization>
			<policy-file>/var/lib/tomcat5/webapps/proxy/WEB-INF/conf/NewPolicy.xml</policy-file>
		</authorization>
		<servlet-class>org.easysdi.proxy.wms.WMSProxyServlet</servlet-class>
		<log-config>
			<file-structure>
				<path>/var/lib/tomcat5/webapps/proxy/WEB-INF/logs/</path>
				<suffix>wms</suffix>
				<prefix>metacarta</prefix>
				<extension>log</extension>
				<period>daily</period>
			</file-structure>
			<date-format>dd/MM/yyyy HH:mm:ss</date-format>
			<logger>org.apache.log4j.Logger</logger>
			<log-level>INFO</log-level>
		</log-config>
		<host-translator/>
		<remote-server-list>
			<remote-server master="true">
				<alias>metacarta</alias>
				<user/>
				<url>http://labs.metacarta.com/wms/vmap0</url>
				<password/>
				<supported-versions>
					<version>1.1.1</version>
					<version>1.1.0</version>
				</supported-versions>
			</remote-server>
		</remote-server-list>
		<supported-versions>
			<version>1.1.1</version>
			<version>1.1.0</version>
		</supported-versions>
		<xslt-path>
			<url/>
		</xslt-path>
		<exception>
			<mode>permissive</mode>
		</exception>
		<service-metadata>
			<Title>Metacarta WMS via Proxy</Title>
			<Abstract/>
			<KeywordList>
				<Keyword/>
			</KeywordList>
			<ContactInformation>
				<ContactOrganization/>
				<ContactName/>
				<ContactPosition/>
				<ContactAddress>
					<AddressType/>
					<Address/>
					<PostalCode/>
					<City/>
					<State/>
					<Country/>
				</ContactAddress>
				<VoicePhone/>
				<Facsimile/>
				<ElectronicMailAddress/>
				<Linkage/>
				<HoursofSservice/>
				<Instructions/>
			</ContactInformation>
			<Fees>none</Fees>
			<AccessConstraints>none</AccessConstraints>
		</service-metadata>
	</config>
	<config id="gmap">
		<authorization>
			<policy-file>/var/lib/tomcat5/webapps/proxy/WEB-INF/conf/NewPolicy.xml</policy-file>
		</authorization>
		<servlet-class>org.easysdi.proxy.wms.WMSProxyServlet</servlet-class>
		<log-config>
			<file-structure>
				<path>/var/lib/tomcat5/webapps/proxy/WEB-INF/logs/</path>
				<suffix>wms</suffix>
				<prefix>gmap</prefix>
				<extension>log</extension>
				<period>daily</period>
			</file-structure>
			<date-format>dd/MM/yyyy HH:mm:ss</date-format>
			<logger>org.apache.log4j.Logger</logger>
			<log-level>INFO</log-level>
		</log-config>
		<host-translator/>
		<remote-server-list>
			<remote-server master="true">
				<alias>gmap</alias>
				<user/>
				<url>http://www2.dmsolutions.ca/cgi-bin/mswms_gmap</url>
				<password/>
				<supported-versions>
					<version>1.3.0</version>
					<version>1.1.1</version>
					<version>1.1.0</version>
				</supported-versions>
			</remote-server>
		</remote-server-list>
		<supported-versions>
			<version>1.3.0</version>
			<version>1.1.1</version>
			<version>1.1.0</version>
		</supported-versions>
		<xslt-path>
			<url/>
		</xslt-path>
		<exception>
			<mode>permissive</mode>
		</exception>
		<service-metadata>
			<Title>GMap WMS via Proxy</Title>
			<Abstract/>
			<KeywordList>
				<Keyword/>
			</KeywordList>
			<ContactInformation>
				<ContactOrganization/>
				<ContactName/>
				<ContactPosition/>
				<ContactAddress>
					<AddressType/>
					<Address/>
					<PostalCode/>
					<City/>
					<State/>
					<Country/>
				</ContactAddress>
				<VoicePhone/>
				<Facsimile/>
				<ElectronicMailAddress/>
				<Linkage/>
				<HoursofSservice/>
				<Instructions/>
			</ContactInformation>
			<Fees>none</Fees>
			<AccessConstraints>none</AccessConstraints>
		</service-metadata>
	</config>
	<config id="mfwfs">
		<authorization>
			<policy-file>/var/lib/tomcat5/webapps/proxy/WEB-INF/conf/NewPolicy.xml</policy-file>
		</authorization>
		<servlet-class>org.easysdi.proxy.wfs.WFSProxyServlet</servlet-class>
		<log-config>
			<file-structure>
				<path>/var/lib/tomcat5/webapps/proxy/WEB-INF/logs/</path>
				<suffix>wfs</suffix>
				<prefix>mfwfs</prefix>
				<extension>log</extension>
				<period>daily</period>
			</file-structure>
			<date-format>dd/MM/yyyy HH:mm:ss</date-format>
			<logger>org.apache.log4j.Logger</logger>
			<log-level>INFO</log-level>
		</log-config>
		<host-translator/>
		<remote-server-list>
			<remote-server master="true">
				<alias>mswfs</alias>
				<user/>
				<url>http://www2.dmsolutions.ca/cgi-bin/mswfs_filter</url>
				<password/>
				<supported-versions>
					<version>1.0.0</version>
				</supported-versions>
			</remote-server>
		</remote-server-list>
		<supported-versions>
			<version>1.0.0</version>
		</supported-versions>
		<xslt-path>
			<url/>
		</xslt-path>
		<exception>
			<mode>permissive</mode>
		</exception>
		<service-metadata>
			<Title>GMap WFS via Proxy</Title>
			<Abstract/>
			<KeywordList>
				<Keyword/>
			</KeywordList>
			<ContactInformation>
				<ContactOrganization/>
				<ContactName/>
				<ContactPosition/>
				<ContactAddress>
					<AddressType/>
					<Address/>
					<PostalCode/>
					<City/>
					<State/>
					<Country/>
				</ContactAddress>
				<VoicePhone/>
				<Facsimile/>
				<ElectronicMailAddress/>
				<Linkage/>
				<HoursofSservice/>
				<Instructions/>
			</ContactInformation>
			<Fees>none</Fees>
			<AccessConstraints>none</AccessConstraints>
		</service-metadata>
	</config>
	<config id="geosignal">
		<authorization>
			<policy-file>/var/lib/tomcat5/webapps/proxy/WEB-INF/conf/NewPolicy.xml</policy-file>
		</authorization>
		<servlet-class>org.easysdi.proxy.wms.WMSProxyServlet</servlet-class>
		<log-config>
			<file-structure>
				<path>/var/lib/tomcat5/webapps/proxy/WEB-INF/logs/</path>
				<suffix>wms</suffix>
				<prefix>geosignal</prefix>
				<extension>log</extension>
				<period>daily</period>
			</file-structure>
			<date-format>dd/MM/yyyy HH:mm:ss</date-format>
			<logger>org.apache.log4j.Logger</logger>
			<log-level>INFO</log-level>
		</log-config>
		<host-translator/>
		<remote-server-list>
			<remote-server master="true">
				<alias>geosignal</alias>
				<user/>
				<url>http://www.geosignal.org/cgi-bin/wmsmap</url>
				<password/>
				<supported-versions>
					<version>1.1.1</version>
					<version>1.1.0</version>
				</supported-versions>
			</remote-server>
		</remote-server-list>
		<supported-versions>
			<version>1.1.1</version>
			<version>1.1.0</version>
		</supported-versions>
		<xslt-path>
			<url/>
		</xslt-path>
		<exception>
			<mode>permissive</mode>
		</exception>
		<service-metadata>
			<Title>Geosignal WMS via Proxy</Title>
			<Abstract/>
			<KeywordList>
				<Keyword/>
			</KeywordList>
			<ContactInformation>
				<ContactOrganization/>
				<ContactName/>
				<ContactPosition/>
				<ContactAddress>
					<AddressType/>
					<Address/>
					<PostalCode/>
					<City/>
					<State/>
					<Country/>
				</ContactAddress>
				<VoicePhone/>
				<Facsimile/>
				<ElectronicMailAddress/>
				<Linkage/>
				<HoursofSservice/>
				<Instructions/>
			</ContactInformation>
			<Fees>none</Fees>
			<AccessConstraints>none</AccessConstraints>
		</service-metadata>
	</config>
	<config id="opengeo">
		<authorization>
			<policy-file>/var/lib/tomcat5/webapps/proxy/WEB-INF/conf/NewPolicy.xml</policy-file>
		</authorization>
		<servlet-class>org.easysdi.proxy.wmts.WMTSProxyServlet</servlet-class>
		<log-config>
			<file-structure>
				<path>/var/lib/tomcat5/webapps/proxy/WEB-INF/logs/</path>
				<suffix>wmts</suffix>
				<prefix>opengeo</prefix>
				<extension>log</extension>
				<period>daily</period>
			</file-structure>
			<date-format>dd/MM/yyyy HH:mm:ss</date-format>
			<logger>org.apache.log4j.Logger</logger>
			<log-level>INFO</log-level>
		</log-config>
		<host-translator/>
		<remote-server-list>
			<remote-server master="true">
				<alias>opengeo</alias>
				<user/>
				<url>http://v2.suite.opengeo.org/geoserver/gwc/service/wmts</url>
				<password/>
				<supported-versions>
					<version>1.0.0</version>
				</supported-versions>
			</remote-server>
		</remote-server-list>
		<exception>
			<mode>permissive</mode>
		</exception>
		<service-metadata>
			<ServiceProvider>
				<ProviderName/>
				<ProviderSite/>
				<ResponsibleParty>
					<IndividualName/>
					<PositionName/>
					<Role/>
					<Contact>
						<HoursofService/>
						<Instructions/>
						<onlineResource/>
						<Telephone>
							<VoicePhone/>
							<Facsimile/>
						</Telephone>
						<Address>
							<AddressType/>
							<DelivryPoint/>
							<PostalCode/>
							<City/>
							<Area/>
							<Country/>
							<ElectronicMailAddress/>
						</Address>
						<HoursOfService/>
						<OnlineResource/>
					</Contact>
				</ResponsibleParty>
			</ServiceProvider>
			<ServiceIdentification>
				<Title>Web Map Tile Service via Proxy</Title>
				<Abstract/>
				<KeywordList>
					<Keyword>easysdi</Keyword>
					<Keyword>wmts</Keyword>
				</KeywordList>
				<Fees>none</Fees>
				<AccessConstraints>none</AccessConstraints>
			</ServiceIdentification>
			<Title>Web Map Tile Service via Proxy</Title>
			<Abstract/>
			<KeywordList>
				<Keyword/>
			</KeywordList>
			<ContactInformation>
				<ContactOrganization/>
				<ContactName/>
				<ContactPosition/>
				<ContactAddress>
					<AddressType/>
					<Address/>
					<PostalCode/>
					<City/>
					<State/>
					<Country/>
				</ContactAddress>
				<VoicePhone/>
				<Facsimile/>
				<ElectronicMailAddress/>
				<Linkage/>
				<HoursofSservice/>
				<Instructions/>
			</ContactInformation>
			<Fees>none</Fees>
			<AccessConstraints>none</AccessConstraints>
		</service-metadata>
		<supported-versions>
			<version>1.0.0</version>
		</supported-versions>
		<xslt-path>
			<url/>
		</xslt-path>
	</config>
	<config id="brgm">
		<authorization>
			<policy-file>/var/lib/tomcat5/webapps/proxy/WEB-INF/conf/NewPolicy.xml</policy-file>
		</authorization>
		<servlet-class>org.easysdi.proxy.csw.CSWProxyServlet</servlet-class>
		<supported-versions>
			<version>2.0.2</version>
		</supported-versions>
		<xslt-path>
			<url/>
		</xslt-path>
		<log-config>
			<logger>org.apache.log4j.Logger</logger>
			<log-level>INFO</log-level>
			<file-structure>
				<path>/var/lib/tomcat5/webapps/proxy/WEB-INF/logs/</path>
				<suffix>csw</suffix>
				<prefix>brgm</prefix>
				<extension>log</extension>
				<period>daily</period>
			</file-structure>
			<date-format>dd/MM/yyyy HH:mm:ss</date-format>
		</log-config>
		<host-translator/>
		<remote-server-list>
			<remote-server master="true">
				<alias>geology</alias>
				<user/>
				<url>http://onegeology-catalog.brgm.fr/geonetwork/srv/csw</url>
				<password/>
				<max-records>10</max-records>
				<login-service>http://onegeology-catalog.brgm.fr/geonetwork/srv/en/</login-service>
				<transaction>
					<type>geonetwork</type>
				</transaction>
				<supported-versions>
					<version>2.0.2</version>
				</supported-versions>
			</remote-server>
		</remote-server-list>
		<harvesting-config>false</harvesting-config>
		<ogc-search-filter>fileId</ogc-search-filter>
		<exception>
			<mode>permissive</mode>
		</exception>
		<service-metadata>
			<Title>BRGM geology via Proxy</Title>
			<Abstract/>
			<KeywordList>
				<Keyword/>
			</KeywordList>
			<ContactInformation>
				<ContactOrganization/>
				<ContactName/>
				<ContactPosition/>
				<ContactAddress>
					<AddressType/>
					<Address/>
					<PostalCode/>
					<City/>
					<State/>
					<Country/>
				</ContactAddress>
				<VoicePhone/>
				<Facsimile/>
				<ElectronicMailAddress/>
				<Linkage/>
				<HoursofSservice/>
				<Instructions/>
			</ContactInformation>
			<Fees>none</Fees>
			<AccessConstraints>none</AccessConstraints>
		</service-metadata>
	</config>
</configurations>
