<?xml version="1.0"?>
<configurations version="1.0">
	<config id="rwgiswms">
		<authorization>
			<policy-file>E:\DEPTH\proxy_conf\Policy_RWGIS.xml</policy-file>
		</authorization>
		<servlet-class>org.easysdi.proxy.wms.WMSProxyServlet</servlet-class>
		<xslt-path>
			<url/>
		</xslt-path>
		<log-config>
			<logger>org.easysdi.proxy.log.ProxyLogger</logger>
			<log-level>INFO</log-level>
			<file-structure>
				<path>E:\DEPTH\proxy_log</path>
				<suffix>wms</suffix>
				<prefix>rwgis</prefix>
				<extension>log</extension>
				<period>daily</period>
			</file-structure>
			<date-format>dd/MM/yyyy HH:mm:ss</date-format>
		</log-config>
		<host-translator/>
		<remote-server-list>
			<remote-server master="true">
				<alias>rwgiswms</alias>
				<user>proxy</user>
				<url>http://RWGIS-VAL-DATA:8080/geoserver/wms</url>
				<password>geoserver</password>
			</remote-server>
		</remote-server-list>
		<exception>
			<mode>permissive</mode>
		</exception>
		<service-metadata>
			<Title>RWGIS WMS</Title>
			<Abstract>RWGIS WMS</Abstract>
			<KeywordList>
				<Keyword>RWGIS</Keyword>
				<Keyword>WMS</Keyword>
			</KeywordList>
			<ContactInformation>
				<ContactOrganization/>
				<ContactName/>
				<ContactPosition/>
				<ContactAddress>
					<AddressType/>
					<Address/>
					<PostalCode/>
					<City/>
					<State/>
					<Country/>
				</ContactAddress>
				<VoicePhone/>
				<Facsimile/>
				<ElectronicMailAddress/>
				<Linkage/>
				<HoursofSservice/>
				<Instructions/>
			</ContactInformation>
			<Fees>none</Fees>
			<AccessConstraints>none</AccessConstraints>
		</service-metadata>
	</config>
	<config id="rwgis">
		<authorization>
			<policy-file>E:\DEPTH\proxy_conf\Policy_RWGIS.xml</policy-file>
		</authorization>
		<servlet-class>org.easysdi.proxy.wfs.WFSProxyServlet</servlet-class>
		<xslt-path>
			<url/>
		</xslt-path>
		<log-config>
			<logger>org.easysdi.proxy.log.ProxyLogger</logger>
			<log-level>INFO</log-level>
			<file-structure>
				<path>E:\DEPTH\proxy_log</path>
				<suffix>wfs</suffix>
				<prefix>rwgis</prefix>
				<extension>log</extension>
				<period>daily</period>
			</file-structure>
			<date-format>dd/MM/yyyy HH:mm:ss</date-format>
		</log-config>
		<host-translator/>
		<remote-server-list>
			<remote-server master="true">
				<alias>rwgiswfs</alias>
				<user>proxy</user>
				<url>http://RWGIS-VAL-DATA:8080/geoserver/wfs</url>
				<password>geoserver</password>
			</remote-server>
		</remote-server-list>
		<exception>
			<mode>permissive</mode>
		</exception>
		<service-metadata>
			<Title>RWGIS WFS</Title>
			<Abstract>RWGIS WFS</Abstract>
			<KeywordList>
				<Keyword>RWGIS</Keyword>
				<Keyword>WFS</Keyword>
			</KeywordList>
			<ContactInformation>
				<ContactOrganization/>
				<ContactName/>
				<ContactPosition/>
				<ContactAddress>
					<AddressType/>
					<Address/>
					<PostalCode/>
					<City/>
					<State/>
					<Country/>
				</ContactAddress>
				<VoicePhone/>
				<Facsimile/>
				<ElectronicMailAddress/>
				<Linkage/>
				<HoursofSservice/>
				<Instructions/>
			</ContactInformation>
			<Fees>none</Fees>
			<AccessConstraints>none</AccessConstraints>
		</service-metadata>
	</config>
	<config id="geoportail_ortho_wms">
		<authorization>
			<policy-file>C:\Source\Proxy\v2.1.2\local_config\dev\WEB-INF\conf\Policy_RWGIS.xml</policy-file>
		</authorization>
		<servlet-class>org.easysdi.proxy.wms.WMSProxyServlet</servlet-class>
		<xslt-path>
			<url/>
		</xslt-path>
		<log-config>
			<logger>org.easysdi.proxy.log.ProxyLogger</logger>
			<log-level>INFO</log-level>
			<file-structure>
				<path>C:\Source\Proxy\v2.1.2\local_config\dev\WEB-INF\logs</path>
				<suffix>wms</suffix>
				<prefix>ortho</prefix>
				<extension>log</extension>
				<period>daily</period>
			</file-structure>
			<date-format>dd/MM/yyyy HH:mm:ss</date-format>
		</log-config>
		<host-translator/>
		<remote-server-list>
			<remote-server master="true">
				<alias>ortho</alias>
				<user>mnhn</user>
				<url>http://wssec.geoportail.lu/ortho_2007_rvb</url>
				<password>mnhn</password>
			</remote-server>
		</remote-server-list>
		<exception>
			<mode>permissive</mode>
		</exception>
		<service-metadata>
			<Title>Geoportail lu</Title>
			<Abstract>Geoportail lu</Abstract>
			<KeywordList>
				<Keyword>RWGIS</Keyword>
				<Keyword>WMS</Keyword>
			</KeywordList>
			<ContactInformation>
				<ContactOrganization/>
				<ContactName/>
				<ContactPosition/>
				<ContactAddress>
					<AddressType/>
					<Address/>
					<PostalCode/>
					<City/>
					<State/>
					<Country/>
				</ContactAddress>
				<VoicePhone/>
				<Facsimile/>
				<ElectronicMailAddress/>
				<Linkage/>
				<HoursofSservice/>
				<Instructions/>
			</ContactInformation>
			<Fees>none</Fees>
			<AccessConstraints>none</AccessConstraints>
		</service-metadata>
		<servlet-version/>
	</config>
	<config id="geoportail_ortho_wms_2010">
		<authorization>
			<policy-file>E:\DEPTH\proxy_conf\Policy_RWGIS.xml</policy-file>
		</authorization>
		<servlet-class>org.easysdi.proxy.wms.WMSProxyServlet</servlet-class>
		<xslt-path>
			<url/>
		</xslt-path>
		<log-config>
			<logger>org.easysdi.proxy.log.ProxyLogger</logger>
			<log-level>INFO</log-level>
			<file-structure>
				<path>E:\DEPTH\proxy_log</path>
				<suffix>geoportail_ortho_wms_2010</suffix>
				<prefix>easi</prefix>
				<extension>log</extension>
				<period>daily</period>
			</file-structure>
			<date-format>dd/MM/yyyy HH:mm:ss</date-format>
		</log-config>
		<host-translator>http://ogc.mnhn.lu/geoportail_ortho_wms_2010</host-translator>
		<remote-server-list>
			<remote-server master="true">
				<alias>geolo2010</alias>
				<user>mnhn</user>
				<url>http://wssec.geoportail.lu/ortho_2010</url>
				<password>mnhn</password>
			</remote-server>
		</remote-server-list>
		<exception>
			<mode>permissive</mode>
		</exception>
		<service-metadata>
			<Title>Geoportail lu ortho 2010</Title>
			<Abstract>Geoportail lu</Abstract>
			<KeywordList>
				<Keyword>RWGIS</Keyword>
				<Keyword>WMS</Keyword>
			</KeywordList>
			<ContactInformation>
				<ContactOrganization/>
				<ContactName/>
				<ContactPosition/>
				<ContactAddress>
					<AddressType/>
					<Address/>
					<PostalCode/>
					<City/>
					<State/>
					<Country/>
				</ContactAddress>
				<VoicePhone/>
				<Facsimile/>
				<ElectronicMailAddress/>
				<Linkage/>
				<HoursofSservice/>
				<Instructions/>
			</ContactInformation>
			<Fees>none</Fees>
			<AccessConstraints>none</AccessConstraints>
		</service-metadata>
	</config>
	<config id="geoportail_auto_topo_wms">
		<authorization>
			<policy-file>E:\DEPTH\proxy_conf\Policy_RWGIS.xml</policy-file>
		</authorization>
		<servlet-class>org.easysdi.proxy.wms.WMSProxyServlet</servlet-class>
		<xslt-path>
			<url/>
		</xslt-path>
		<log-config>
			<logger>org.easysdi.proxy.log.ProxyLogger</logger>
			<log-level>INFO</log-level>
			<file-structure>
				<path>E:\DEPTH\proxy_log</path>
				<suffix>geoportail_auto_topo_wms</suffix>
				<prefix>easi</prefix>
				<extension>log</extension>
				<period>daily</period>
			</file-structure>
			<date-format>dd/MM/yyyy HH:mm:ss</date-format>
		</log-config>
		<host-translator/>
		<remote-server-list>
			<remote-server master="true">
				<alias>topo</alias>
				<user>mnhn</user>
				<url>http://wssec.geoportail.lu/auto_topo</url>
				<password>mnhn</password>
			</remote-server>
		</remote-server-list>
		<exception>
			<mode>permissive</mode>
		</exception>
		<service-metadata>
			<Title>Geoportail auto topo</Title>
			<Abstract>Geoportail auto topo</Abstract>
			<KeywordList>
				<Keyword>RWGIS</Keyword>
				<Keyword>WMS</Keyword>
			</KeywordList>
			<ContactInformation>
				<ContactOrganization/>
				<ContactName/>
				<ContactPosition/>
				<ContactAddress>
					<AddressType/>
					<Address/>
					<PostalCode/>
					<City/>
					<State/>
					<Country/>
				</ContactAddress>
				<VoicePhone/>
				<Facsimile/>
				<ElectronicMailAddress/>
				<Linkage/>
				<HoursofSservice/>
				<Instructions/>
			</ContactInformation>
			<Fees>none</Fees>
			<AccessConstraints>none</AccessConstraints>
		</service-metadata>
	</config>
	<config id="geoportail_bdltc_wfs">
		<authorization>
			<policy-file>C:\Source\Proxy\v2.1.2\local_config\dev\WEB-INF\conf\Policy_RWGIS.xml</policy-file>
		</authorization>
		<servlet-class>org.easysdi.proxy.wfs.WFSProxyServlet</servlet-class>
		<log-config>
			<file-structure>
				<path>C:\Source\Proxy\v2.1.2\local_config\dev\WEB-INF\logs</path>
				<suffix>geoportail_bdltc_wfs</suffix>
				<prefix>easi</prefix>
				<extension>log</extension>
				<period>daily</period>
			</file-structure>
			<date-format>dd/MM/yyyy HH:mm:ss</date-format>
		</log-config>
		<host-translator>http://ogc.mnhn.lu/geoportail_bdltc_wfs</host-translator>
		<remote-server-list>
			<remote-server>
				<user>mnhn</user>
				<url>http://wssec.geoportail.lu/wfs/BDLTC</url>
				<password>mnhn</password>
			</remote-server>
		</remote-server-list>
		<exception>
			<mode>permissive</mode>
		</exception>
		<service-metadata>
			<Title>geoportail_bdltc_wfs</Title>
			<Abstract/>
			<KeywordList>
				<Keyword>RWGIS</Keyword>
				<Keyword/>
			</KeywordList>
			<ContactInformation>
				<ContactOrganization/>
				<ContactName/>
				<ContactPosition/>
				<ContactAddress>
					<AddressType/>
					<Address/>
					<PostalCode/>
					<City/>
					<State/>
					<Country/>
				</ContactAddress>
				<VoicePhone/>
				<Facsimile/>
				<ElectronicMailAddress/>
				<Linkage/>
				<HoursofSservice/>
				<Instructions/>
			</ContactInformation>
			<Fees>none</Fees>
			<AccessConstraints>none</AccessConstraints>
		</service-metadata>
	</config>
	<config id="geoportail_bdltc_wms">
		<authorization>
			<policy-file>E:\DEPTH\proxy_conf\Policy_RWGIS.xml</policy-file>
		</authorization>
		<servlet-class>org.easysdi.proxy.wms.WMSProxyServlet</servlet-class>
		<log-config>
			<file-structure>
				<path>E:\DEPTH\proxy_log</path>
				<suffix>geoportail_bdltc_wms</suffix>
				<prefix>easi</prefix>
				<extension>log</extension>
				<period>daily</period>
			</file-structure>
			<date-format>dd/MM/yyyy HH:mm:ss</date-format>
		</log-config>
		<host-translator>http://ogc.mnhn.lu/geoportail_bdltc_wms</host-translator>
		<remote-server-list>
			<remote-server>
				<user>mnhn</user>
				<url>http://wssec.geoportail.lu/MS_BDLTC</url>
				<password>mnhn</password>
			</remote-server>
		</remote-server-list>
		<exception>
			<mode>permissive</mode>
		</exception>
		<service-metadata>
			<Title>geoportail_bdltc_wms</Title>
			<Abstract/>
			<KeywordList>
				<Keyword>RWGIS</Keyword>
				<Keyword/>
			</KeywordList>
			<ContactInformation>
				<ContactOrganization/>
				<ContactName/>
				<ContactPosition/>
				<ContactAddress>
					<AddressType/>
					<Address/>
					<PostalCode/>
					<City/>
					<State/>
					<Country/>
				</ContactAddress>
				<VoicePhone/>
				<Facsimile/>
				<ElectronicMailAddress/>
				<Linkage/>
				<HoursofSservice/>
				<Instructions/>
			</ContactInformation>
			<Fees>none</Fees>
			<AccessConstraints>none</AccessConstraints>
		</service-metadata>
	</config>
	<config id="geoportail_pcn_wms">
		<authorization>
			<policy-file>E:\DEPTH\proxy_conf\Policy_RWGIS.xml</policy-file>
		</authorization>
		<servlet-class>org.easysdi.proxy.wms.WMSProxyServlet</servlet-class>
		<log-config>
			<file-structure>
				<path>E:\DEPTH\proxy_log</path>
				<suffix>geoportail_pcn_wms</suffix>
				<prefix>easi</prefix>
				<extension>log</extension>
				<period>daily</period>
			</file-structure>
			<date-format>dd/MM/yyyy HH:mm:ss</date-format>
		</log-config>
		<host-translator>http://ogc.mnhn.lu/geoportail_pcn_wms</host-translator>
		<remote-server-list>
			<remote-server>
				<user>mnhn</user>
				<url>http://wssec.geoportail.lu/MS_PCN</url>
				<password>mnhn</password>
			</remote-server>
		</remote-server-list>
		<exception>
			<mode>permissive</mode>
		</exception>
		<service-metadata>
			<Title>geoportail_pcn_wms</Title>
			<Abstract/>
			<KeywordList>
				<Keyword>RWGIS</Keyword>
				<Keyword/>
			</KeywordList>
			<ContactInformation>
				<ContactOrganization/>
				<ContactName/>
				<ContactPosition/>
				<ContactAddress>
					<AddressType/>
					<Address/>
					<PostalCode/>
					<City/>
					<State/>
					<Country/>
				</ContactAddress>
				<VoicePhone/>
				<Facsimile/>
				<ElectronicMailAddress/>
				<Linkage/>
				<HoursofSservice/>
				<Instructions/>
			</ContactInformation>
			<Fees>none</Fees>
			<AccessConstraints>none</AccessConstraints>
		</service-metadata>
	</config>
	<config id="geoportail_pl5_wms">
		<authorization>
			<policy-file>E:\DEPTH\proxy_conf\Policy_RWGIS.xml</policy-file>
		</authorization>
		<servlet-class>org.easysdi.proxy.wms.WMSProxyServlet</servlet-class>
		<log-config>
			<file-structure>
				<path>E:\DEPTH\proxy_log</path>
				<suffix>geoportail_pl5_wms</suffix>
				<prefix>easi</prefix>
				<extension>log</extension>
				<period>daily</period>
			</file-structure>
			<date-format>dd/MM/yyyy HH:mm:ss</date-format>
		</log-config>
		<host-translator>http://ogc.mnhn.lu/geoportail_pl5_wms</host-translator>
		<remote-server-list>
			<remote-server>
				<user>mnhn</user>
				<url>http://wssec.geoportail.lu/pl5</url>
				<password>mnhn</password>
			</remote-server>
		</remote-server-list>
		<exception>
			<mode>permissive</mode>
		</exception>
		<service-metadata>
			<Title>geoportail_pl5_wms</Title>
			<Abstract/>
			<KeywordList>
				<Keyword>RWGIS</Keyword>
				<Keyword/>
			</KeywordList>
			<ContactInformation>
				<ContactOrganization/>
				<ContactName/>
				<ContactPosition/>
				<ContactAddress>
					<AddressType/>
					<Address/>
					<PostalCode/>
					<City/>
					<State/>
					<Country/>
				</ContactAddress>
				<VoicePhone/>
				<Facsimile/>
				<ElectronicMailAddress/>
				<Linkage/>
				<HoursofSservice/>
				<Instructions/>
			</ContactInformation>
			<Fees>none</Fees>
			<AccessConstraints>none</AccessConstraints>
		</service-metadata>
	</config>
	<config id="rwgiswmsmenv">
		<authorization>
			<policy-file>E:\DEPTH\proxy_conf\Policy_RWGIS.xml</policy-file>
		</authorization>
		<servlet-class>org.easysdi.proxy.wms.WMSProxyServlet</servlet-class>
		<log-config>
			<file-structure>
				<path>E:\DEPTH\proxy_log</path>
				<suffix>wmsmenv</suffix>
				<prefix>easi</prefix>
				<extension>log</extension>
				<period>daily</period>
			</file-structure>
			<date-format>dd/MM/yyyy HH:mm:ss</date-format>
		</log-config>
		<host-translator>http://ogc.mnhn.lu/rwgiswmsmenv</host-translator>
		<remote-server-list>
			<remote-server>
				<user>proxy</user>
				<url>http://RWGIS-VAL-DATA:8080/geoserver/wms</url>
				<password>geoserver</password>
			</remote-server>
		</remote-server-list>
		<exception>
			<mode>permissive</mode>
		</exception>
		<service-metadata>
			<Title>rwgiswmsmenv</Title>
			<Abstract/>
			<KeywordList>
				<Keyword>RWGIS</Keyword>
				<Keyword/>
			</KeywordList>
			<ContactInformation>
				<ContactOrganization/>
				<ContactName/>
				<ContactPosition/>
				<ContactAddress>
					<AddressType/>
					<Address/>
					<PostalCode/>
					<City/>
					<State/>
					<Country/>
				</ContactAddress>
				<VoicePhone/>
				<Facsimile/>
				<ElectronicMailAddress/>
				<Linkage/>
				<HoursofSservice/>
				<Instructions/>
			</ContactInformation>
			<Fees>none</Fees>
			<AccessConstraints>none</AccessConstraints>
		</service-metadata>
	</config>
	<config id="rwgiswmsworld">
		<authorization>
			<policy-file>E:\DEPTH\proxy_conf\Policy_RWGIS.xml</policy-file>
		</authorization>
		<servlet-class>org.easysdi.proxy.wms.WMSProxyServlet</servlet-class>
		<log-config>
			<file-structure>
				<path>E:\DEPTH\proxy_log</path>
				<suffix>wmsworld</suffix>
				<prefix>easi</prefix>
				<extension>log</extension>
				<period>daily</period>
			</file-structure>
			<date-format>dd/MM/yyyy HH:mm:ss</date-format>
		</log-config>
		<host-translator>http://ogc.mnhn.lu/rwgiswmsworld</host-translator>
		<remote-server-list>
			<remote-server>
				<user>proxy</user>
				<url>http://RWGIS-VAL-DATA:8080/geoserver/wms</url>
				<password>geoserver</password>
			</remote-server>
		</remote-server-list>
		<exception>
			<mode>permissive</mode>
		</exception>
		<service-metadata>
			<Title>rwgiswmsworld</Title>
			<Abstract/>
			<KeywordList>
				<Keyword>RWGIS</Keyword>
				<Keyword/>
			</KeywordList>
			<ContactInformation>
				<ContactOrganization/>
				<ContactName/>
				<ContactPosition/>
				<ContactAddress>
					<AddressType/>
					<Address/>
					<PostalCode/>
					<City/>
					<State/>
					<Country/>
				</ContactAddress>
				<VoicePhone/>
				<Facsimile/>
				<ElectronicMailAddress/>
				<Linkage/>
				<HoursofSservice/>
				<Instructions/>
			</ContactInformation>
			<Fees>none</Fees>
			<AccessConstraints>none</AccessConstraints>
		</service-metadata>
	</config>
	<config id="rwgiswfsworld">
		<authorization>
			<policy-file>E:\DEPTH\proxy_conf\Policy_RWGIS.xml</policy-file>
		</authorization>
		<servlet-class>org.easysdi.proxy.wfs.WFSProxyServlet</servlet-class>
		<log-config>
			<file-structure>
				<path>E:\DEPTH\proxy_log</path>
				<suffix>wfsworld</suffix>
				<prefix>easi</prefix>
				<extension>log</extension>
				<period>daily</period>
			</file-structure>
			<date-format>dd/MM/yyyy HH:mm:ss</date-format>
		</log-config>
		<host-translator>http://ogc.mnhn.lu/rwgiswfsworld</host-translator>
		<remote-server-list>
			<remote-server>
				<user>proxy</user>
				<url>http://RWGIS-VAL-DATA:8080/geoserver/wfs</url>
				<password>geoserver</password>
			</remote-server>
		</remote-server-list>
		<exception>
			<mode>permissive</mode>
		</exception>
		<service-metadata>
			<Title>rwgiswfsworld</Title>
			<Abstract/>
			<KeywordList>
				<Keyword>RWGIS</Keyword>
				<Keyword/>
			</KeywordList>
			<ContactInformation>
				<ContactOrganization/>
				<ContactName/>
				<ContactPosition/>
				<ContactAddress>
					<AddressType/>
					<Address/>
					<PostalCode/>
					<City/>
					<State/>
					<Country/>
				</ContactAddress>
				<VoicePhone/>
				<Facsimile/>
				<ElectronicMailAddress/>
				<Linkage/>
				<HoursofSservice/>
				<Instructions/>
			</ContactInformation>
			<Fees>none</Fees>
			<AccessConstraints>none</AccessConstraints>
		</service-metadata>
	</config>
</configurations>
