<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration debug="true" xmlns:log4j='http://jakarta.apache.org/log4j/'>
	
	<appender name="rootAppender" class="org.apache.log4j.RollingFileAppender">
		<param name="append" value="true" />
    	<param name="file" value="${catalina.home}/logs/easysdi-proxy.log"/>
    	<param name="MaxFileSize" value="1MB"/>
    	<param name="MaxBackupIndex" value="10"/>
    	<layout class="org.apache.log4j.PatternLayout">
      		<param name="ConversionPattern" value="%d{dd MMM yyyy HH:mm:ss,SSS} %5p %c{1}:%L - %m%n"/>
    	</layout>
  	</appender>
  
	<appender name="logFileAppender" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="append" value="true" />
    	<param name="datePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{dd MMM yyyy HH:mm:ss,SSS} [%t] %5p %c{1}:%L - %m%n" />
		</layout>
	</appender>
	
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
      <param name="Target" value="System.out"/>
      <layout class="org.apache.log4j.PatternLayout">
         <param name="ConversionPattern" value="%-4r [%t] %-5p %c %x - %m%n"/>
      </layout>
   </appender>
	
	<logger name="net.sf.ehcache">
		 <level value="OFF" /> 
		<appender-ref ref="console"/>
	</logger>

	<logger name="OgcProxyServlet" additivity="false">
    	<level value="INFO" />
    	<appender-ref ref="rootAppender"/>
  	</logger>
  	
  	<logger name="EasySdiConfigFilter" additivity="false">
    	<level value="INFO" />
    	<appender-ref ref="rootAppender"/>
  	</logger>
  	
  	<logger name="ProxyLogger" additivity="false">
    	<level value="INFO" />
    	<appender-ref ref="logFileAppender"/>
  	</logger>
	
	<root>
		<level value="INFO" />
		<appender-ref ref="rootAppender" />
	</root>
</log4j:configuration>

