/* @override 
	http://localhost/verdant/templates/js_verdant/css/templatestyle1.css
*/

body {
	background:#ffffff url(../images/style6/crigeos_site_bkgd.jpg) no-repeat 0px 0px;
}

/*--HEADER--*/
#headerWrapper {
	background:transparent url(../images/style6/header_bkgd.png) no-repeat 0px 0px;
}

#logo-text h1 a { color: #eee; }

#logo-text h2 { color: #dde8ca; }
#logo-graphic {
	margin-top:0px;
}
#logo-graphic h1 a {
	background:transparent url(../images/style6/logo.png) no-repeat 0 0;
}

#logo-graphic h2 {
	display: none;
}

/*--MAIN MENU--*/
#menuWrapper {
	background-color: #97B832;
	margin: 0px 0px 20px 0px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	behavior: url('templates/crigeos/css/PIE.htc');
}

#menu ul li a {
	border-right: 1px solid #1D4258;
	color: #1D4258;
}

#menu ul li.active, #menu ul li.current, #menu ul li a:hover {
	background-color: #97B832;
}

#menu ul li.active a, #menu ul li.current a, #menu ul li a:hover {
	color: #fff;
}

#menu ul li ul {
	border-right: 1px solid #1D4258;
	border-top: 1px solid #1D4258;
	border-bottom: 1px solid #1D4258;
	border-left: 1px solid #1D4258;
	background-color: #7B9626;
}
 
#menu ul ul a, #menu ul li#current ul a {
	color: #fff;
	border-bottom: 1px solid #1D4258;
}
 
#menu ul ul li a:hover, #menu ul li#current ul li a:hover {
	background: #526519;
	color: #fff;
}

ul#topmenu li a {
	color: #ccc;
}

ul#topmenu li.current a {
	background-color: #333;
	border: 1px solid #222;
}

ul#topmenu li a:hover {
	color: #dde8ca;
}

/*--BANNER--*/
#banner_wrapper {
	background: #ffffff;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius:8px;
	-moz-box-shadow: 0 0 10px #222;
	-webkit-box-shadow: 0 0 10px #222;
	behavior: url('templates/crigeos/css/PIE.htc');
}
#footerWrapper {
	margin-top:20px;
}

#banner {
	margin: 0px 10px 10px 30px;
	color: #173444;
	font-size:100%;
}
#banner h3 { 
    color: #97B832;
    font-size: 135%;
}
#footer h3 { color: #173444; }

body.light #banner h3 span, body.light #footer h3 span { color: #d1dbbd; }

#banner h4 {
	color: #d1dbb4;
}

/*--SEC MENU--*/
#menuWrapper2 {
}

body.light #menuWrapper2 {
}

/*--MAIN AREA--*/
.container_12 .pull_1, .container_12 .pull_2, .container_12 .pull_3, .container_12 .pull_4, .container_12 .pull_5, .container_12 .pull_6, .container_12 .pull_7, .container_12 .pull_8, .container_12 .pull_9, .container_12 .pull_10, .container_12 .pull_11{
	background-color:#f0f0f0;
	margin: 0px 20px 0px 0px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius:8px;
	-moz-box-shadow: 0 0 10px #222;
	-webkit-box-shadow: 0 0 10px #222;
	behavior: url('templates/crigeos/css/PIE.htc');
}
.container_12 .push_1, .container_12 .push_2, .container_12 .push_3, .container_12 .push_4, .container_12 .push_5, .container_12 .push_6, .container_12 .push_7, .container_12 .push_8, .container_12 .push_9, .container_12 .push_10, .container_12 .push_11{
	background-color:#ffffff;
	margin: 0px 0px 0px 0px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius:8px;
	-moz-box-shadow: 0 0 10px #222;
	-webkit-box-shadow: 0 0 10px #222;
	behavior: url('templates/crigeos/css/PIE.htc');
}
#main_wrapper {
	background-color: #222;
}

#main_wrapper a {
	text-decoration: none;
}

body.light #main_wrapper a {
	color: #173444;
}

#main_wrapper .maincontent h3 {
	color: #777777;	
}

body.light #main_wrapper .maincontent h3 {
	color: #777777;	
}

body.light #area_content h2 span, body.light .moduletable h3 span, body.light .module h3 span, body.light .componentheading {
	color: #3e606f;
	padding:10px;
}

#area_content h2 span, .moduletable h3 span, .module h3 span, .componentheading {
	color: #a3ab94;
}

.leading {
	background-color: #1f1f1f;	
	border: 1px solid #333;
}

body.light .leading {
	background-color: #fff;
	border: 1px solid #ccc;	
}
.moduletable_menu h3 {
	background:#173444 url(../images/round.png) no-repeat 8px 12px;
	padding: 6px 10px 8px 30px;
	color:#ffffff;
}
.moduletable h3 {
	background:#173444 url(../images/round.png) no-repeat 8px 12px;
	padding: 8px 10px 10px 30px;
	border-bottom: 1px dotted #ccc;
	color:#ffffff;
}
.moduletable p {
	padding-left: 30px;
}
.module h3 {
	background: url(../images/round.png) no-repeat 8px 12px;
	padding: 5px 10px 10px 30px;
	border-bottom: 1px dotted #fff;
}
.newsflash {
	display:block;
	float:right;
}
div.newsflash .moduletable .contentpaneopen {
	padding-right:0px;
}
#inset .moduletable {
	margin-top:8px;
}
#inset .moduletable .newsflash .moduletable {
	margin-top:12px;
}
.newsflash h1 {
	color:#ffffff;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}
.newsflash h3 {
	background: transparent;
	color:#ff0000;
	border:none;
	padding: 0;
}
.left .moduletable ul li, .right .moduletable ul li {
	margin:15px 10px 10px 20px;
}
.left .moduletable ul li a, .right .moduletable ul li a {
	background-color: #333;
	display: block;
	padding: 5px;
	font-size: 11px;
}
.left .moduletable ul li a:hover, .right .moduletable ul li a:hover {
	background-color: #444;
}

body.light .left .moduletable ul li a, body.light .right .moduletable ul li a {
	background-color: #fff;
	display: block;
	padding: 5px 5px 5px 35px;
	font-size: 11px;
	color: #444 !important;
}

body.light .left .moduletable ul li a:hover, body.light .right .moduletable ul li a:hover {
	background-color: #ccc;
	color: #777 !important;
}
a.forgotpass, a.forgotuser, a.regusr {
	background-color: #333;
	display: block;
	padding: 5px 5px 5px 15px;
	font-size: 11px;
}
.form-login {
	padding:15px 10px 10px 15px;
}
.form-login ul li {
	margin:0px 0px 0px 0px;
}
.form-login ul li a, .form-login ul li a:hover {
	margin:0px 0px 0px 0px;
}
ul.menu li {
	border-bottom:#d1d6db dotted 1px;
}
ul.menu li span{
	line-height:30px;
}
ul.menu li.haschild ul li {
	border:none;
}
ul.menu li.haschild ul {
	margin-bottom: 0px;
}
/*--FOOTER--*/
#footer .module.logos_part h3 {
	color:#97b832;
	font-size:120%;
	background: url(../images/style6/cross.png) no-repeat 0px 0px;
	padding: 0px 10px 5px 30px;
	border-bottom: 1px dotted #97b832;
}
#banner a, #footer a { color: #a5e6fe; }
.banneritem.logos_part {
	display:block;
	float:left;
	margin:5px;
}
.bannergroup.logos_part {
	margin:10px 0px;
}
/*K2 Styles*/
table.calendar tr td.calendarDateLinked a {color: #76acd9;}
/* --- Zebra rows --- */
.even {background: #f8f9fd;}
.odd {background: #fff;}
/* Article navigation */
div.itemNavigation {background: #173444;}
div.itemNavigation span.itemNavigationTitle {color:#eee;}
/* Author block */
div.itemAuthorBlock {background: #173444 url(../images/style1/gradients.png) repeat-x 0 -113px;}
/* Comments */
div.itemComments {background:#e9f1fc;}
body.dark div.itemComments {background:#333;}
/* --- Category block --- */
#k2Container div.itemListCategory, #k2Container .leading {background: #173444 url(../images/style1/gradients.png) repeat-x 0 -113px;}
/* --- Sub-category block --- */
div.subCategory {background: #f4f7fc;}
/*Calendar Formatting*/
table.calendar tr td.calendarNavMonthNext a, table.calendar tr td.calendarNavMonthNext a:hover, table.calendar tr td.calendarNavMonthPrev a {color: #76acd9;}
table.calendar tr td.calendarToday {background: #76acd9;color:#fff;}
/* User info block */
div.userBlock {background: #173444 url(../images/style1/gradients.png) repeat-x 0 -113px;}


/* Metadata result list */
.metadata-logo {
	float:left !important;
	width:110px !important;
}

.metadata-logo .hidden {
    visibility:hidden;
}
.metadata-links {
	margin:0.5em 0em 0.5em 0em;
	font:11px Tahoma;
}
.metadata-links span.metadata-link {
	width:140px;
	display:block;
	float:left;
}

.metadata-links span.metadata-link  a.link{
	text-decoration: none;
	color: #444444 !important;
    display: block;
    font-size: 11px;
    padding: 1px 1px 1px 1px;
    background-color: #BBBCBD !important;
    border-radius: 5px 5px 5px 5px;
    line-height: 20px;
    border: 0 none;
    outline: 0 none;
    margin:5px 50px 5px 0px;
    text-align: center;
    -moz-border-radius : 5px !important ; 
}
.metadata-links span.metadata-link a.link:hover {
    color: #777777 !important;
    background-color: #222222 !important;

}

.metadata-links span.metadata-link  div.link-off{
	text-decoration: none;
	color: #444444 !important;
    display: block;
    font-size: 11px;
    padding: 1px 1px 1px 1px;
    background-color: #BBBCBD !important;
    border-radius: 5px 5px 5px 5px;
    line-height: 20px;
    border: 0 none;
    outline: 0 none;
    margin:5px 50px 5px 0px;
    text-align: center;
     -moz-border-radius : 5px !important ; 
}

.metadata-result{
    font-size: 12px !important;
}
.metadata-result .metadata-desc {
	float:left !important;
	width:420px !important;
}
.metadata-result .metadata-desc h4 {
	margin:0px 0px 0.5em 0px !important;
	color: #97B832 !important;
	font-size: 1.1em !important;
	font-weight:bold !important;
}
.metadata-result .metadata-desc p {
	margin:0px 0px 0.5em 0px !important;	
}
.metadata-summary span.metadata-value, .metadata-summary span.metadata-label {
	display:block !important;
	float:left !important;
	width:140px !important;
	margin:0em 0em 0.2em 0em !important;
	color: #999999 !important;
    font-size: 11px !important;
    line-height: 12px !important;
}
.metadata-summary span.metadata-value {
	width:280px !important;
}


/*Metadata details page*/
.metadata-sheet{
	margin:30px 20px 20px 20px !important;
	border-radius: 10px !important;
	background-color: white !important;
}

.metadata-details{
	margin:20px 40px 40px 40px !important;
	font-size: 1em !important;
	line-height: 1.4em !important;
}
.metadata-details  h1 {
	color: #97B832 !important;
    font-size: 135% !important;
    line-height: 1.4em !important;
    margin-bottom: 10px !important;
	margin-top: 10px !important;
}


.metadata-abstract {
	margin:20px 20px 20px 20px !important;
	font-size: 100% !important;
	vertical-align: baseline !important;
	text-align: left !important;
	line-height: 1.3em !important;
	color: #444444 !important;
}
.metadata-abstract p{
	margin-bottom: 20px !important;
}
.metadata-details   .metadata-resume {
	color: #999999 !important;
    font-size: 0.9em !important;
    
}
.metadata-details   .metadata-content {
	font-size: 0.9em !important;
	 border-radius: 10px  !important;
	 width:100% !important;
	 margin:20px 40px 0px 0px !important;
}
.metadata-table{
	width:100% !important;
}
.metadata-details table{
	 margin: 0px 0px 20px 0px !important;
}
.metadata-table-th {
	 background-color: #97B832 !important;
	 color: white !important;
	 border-top-left-radius: 10px !important ;
	 border-top-right-radius: 10px !important;
	 width:100% !important;
	 font-size: 1em !important;
	 text-align: center !important;
}
.metadata-table td {
	border-bottom:1px solid #eee !important;
	color:#666 !important;
}
.metadata-table-short td{
	border-bottom:1px solid #eee !important;
	border-top:1px solid #eee !important;
	 line-height: 1.3em;
}
.metadata-header td{
	vertical-align:top !important;
	padding: 0 10px 0 15px;
}

#back-metadata-result{
	background: url(../images/style6/cross.png) no-repeat left center;
	background-repeat:no-repeat;
	background-position:left center;
	font-size: 1em;
	padding-left:2.5em;
	line-height:20px;
	color:red;
}
#back-metadata-result a.back-link{
	color:red !important;
}
#back-metadata-result  a.back-link:hover{
	color:black !important;
}
#menu .current {
    clear: none;
}
#sbox-content body{
background : #FFFFFF !important;
}
/*Products list - Download form*/
.mdviewproduct a, .mdviewfile a{
	font-family:Tahoma;
	text-decoration: none;
	color: #444444 !important;
    display: block;
    font-size: 11px;
    background-color: #BBBCBD !important;
    border-radius: 5px 5px 5px 5px;
    line-height: 20px;
    border: 0 none;
    outline: 0 none;
    margin:5px 5px 5px 0px;
	padding:1px !important;
    text-align: center;
   -moz-border-radius: 5px !important;
}


 .mdviewproduct  a:hover, .mdviewfile a:hover {
    color: #777777 !important;
    background-color: #222222 !important;
}

#pdfbody{
	background: white !important;
}




