.icon-48-easysdi {
    background-image: url("../images/l_com_easysdi_core.png");
    padding-left: 60px !important;
}

.icon-48-core {
    background-image: url("../images/l_core.jpg");
    padding-left: 60px !important;
}