.sdimodal.fade.in {
    top: 50%;
}

.sdimodal.fade {
    -moz-transition: opacity 0.3s linear 0s, top 0.3s ease-out 0s;
}

.fade.in {
    opacity: 1;
}

.modal-backdrop, .modal-backdrop.fade.in {
    opacity: 0.8;
}

.fade {
  -moz-transition: opacity 0.15s linear 0s;
}
.modal-backdrop {
    background-color: #000000;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1040;
}

.sdimodal {
    background-clip: padding-box;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    left: 50%;
    margin: -50px 0 0 -280px;
    overflow: auto;
    position: fixed;
    width: 560px;
    z-index: 1050;
}

.sdimodal-header {
  border-bottom: 1px solid #eee;
}

.sdimodal-header .close {
  margin-top: 2px;
}

.sdimodal-header .title {
 background-color: #E4E4E4 !important;
 font-size: 15px !important;
 line-height: 18px !important;
 margin: 0 !important;
 padding: 3px 3px 3px 10px !important;
 position: relative !important;
 width: 547px !important;
 color: #135CAE;
 font-weight:bold;
}

button.close {
padding: 0;
cursor: pointer;
background: transparent;
border: 0;
-webkit-appearance: none;
}
.close {
float: right;
font-size: 20px;
font-weight: bold;
line-height: 20px;
color: black;
text-shadow: 0 1px 0 white;
opacity: 0.2;
filter: alpha(opacity=20);
}

.sdimodal-body {
    max-height: 400px;
    overflow-y: auto;
    padding: 15px;
}

.sdimodal-footer:after {
    clear: both;
}

.sdimodal-footer:before, .sdimodal-footer:after {
    content: "";
    display: table;
    line-height: 0;
}

.sdimodal-footer:before, .sdimodal-footer:after {
    content: "";
    display: table;
    line-height: 0;
}


.sdimodal-footer {
  padding: 14px 15px 15px;
  margin-bottom: 0;
  text-align: right;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
     -moz-box-shadow: inset 0 1px 0 #ffffff;
          box-shadow: inset 0 1px 0 #ffffff;
  padding: 14px 0 15px 350px;
  width: 210px;
}

.sdibtn {
    border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
}

.sdibtn {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F5F5F5;
    background-image: -moz-linear-gradient(center top , #FFFFFF, #E6E6E6);
    background-repeat: repeat-x;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    padding: 2px 14px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
}

.sdibtn:hover {
  color: #333333;
  text-decoration: none;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
  /* Buttons in IE7 don't get borders, so darken on hover */

  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}