.easysdi_shop_backend_form {width: 600px;}
.easysdi_shop_backend_fieldset {width: auto;}
.easysdi_shop_backend_textarea {width: 200px !important;} /* important fait que ça prime sur tout le reste */
.easysdi_shop_backend_textfield {width: auto;}
.easysdi_shop_backend_combobox {width: auto;}
.easysdi_shop_backend_multiselect {width: auto;}
.easysdi_shop_backend_numberfield {width: auto;}
.easysdi_shop_backend_datetimefield {width: auto;}
.easysdi_shop_backend_datefield {width: auto;}

