 /** menu icons **/



/** toolbar icons **/
.icon-32-export	{ 
    background-image: url(../images/toolbar/icon-32-export.png); 
}

.icon-32-tool_f2 {
    background-image: url(../images/toolbar/icon-32-tool_f2.png);
}

.icon-32-tool_easysdi_admin { 
    background-image: url(../../../../../administrator/components/com_easysdi_core/common/icons/easysdi_small.png);
    background-repeat: no-repeat;
    -moz-background-size: 32px 26px;
    background-size: 32px 26px;
    background-position: center center;
}

/** header icons **/

/** Core's main menu style **/
.icon-48-easysdi {
    background-image: url("../../../../../administrator/components/com_easysdi_core/common/icons/easysdi.png");
    -moz-background-size: 59px 48px;
    background-size: 59px 48px;
}

.icon-48-monitor {
    background-image: url("../../../../../administrator/components/com_easysdi_core/common/icons/easysdi_picto_monitor.jpg");
}

.icon-48-core {
    background-image: url("../../../../../administrator/components/com_easysdi_core/common/icons/easysdi_picto_core.jpg");
   -moz-background-size: 59px 48px;
    background-size: 59px 48px;
}

.icon-48-catalog {
    background-image: url("../../../../../administrator/components/com_easysdi_core/common/icons/easysdi_picto_catalog.jpg");
    -moz-background-size: 59px 48px;
    background-size: 59px 48px;
}

.icon-48-shop {
    background-image: url("../../../../../administrator/components/com_easysdi_core/common/icons/easysdi_picto_shop.jpg");
    -moz-background-size: 59px 48px;
    background-size: 59px 48px;
}

.icon-48-proxy {
    background-image: url("../../../../../administrator/components/com_easysdi_core/common/icons/easysdi_picto_proxy.jpg");
    -moz-background-size: 59px 48px;
    background-size: 59px 48px;
}

.icon-48-publish {
    background-image: url("../../../../../administrator/components/com_easysdi_core/common/icons/easysdi_picto_publish.jpg");
    -moz-background-size: 59px 48px;
    background-size: 59px 48px;
}

.icon-48-map {
    background-image: url("../../../../../administrator/components/com_easysdi_core/common/icons/easysdi_picto_map.jpg");
    -moz-background-size: 59px 48px;
    background-size: 59px 48px;
}

div.header {
    padding-left: 70px !important;
    color: #5b6d73 !important;
}

div.header_sdi {
    background-repeat: no-repeat;
    color: #5b6d73;
    font-size: 22px;
    font-weight: bold;
    line-height: 48px;
    margin-left: 0px;
    padding-left: 55px;
}

.contrib-sdi{
   padding-left: 15px;
   color: #5B6D73;
}

.contrib-sdi .title{
   font-weight:bold;
}

.header_sdi_list{
	vertical-align:top;
	width:30%;
}

.header_sdi_list ul li{
	color: #409449;
}

.header_sdi_list ul li a{
	color: #5B6D73;
}

.header_sdi_comp_title{
	width:100%;
	text-align: left;
}

/* menu links offset */
.header_sdi_comp_links{
	width:10%;
}

/* legend */
#config-document legend {
    color: #303030;
}

/* submenu */
.configuration a{
   color: #5B6D73;
}

.contrib-sdi a{
   color: #409449 !important;
}
.icon-32-adduser 		{ background-image: url(../images/toolbar/icon-32-adduser.png); }

.manageUsers{
	background-color:transparent;
	background-image:url(../images/toolbar/icon-32-adduser.png);
	background-position:0 0;
	background-repeat:no-repeat;
	height:30px;

}
.sortAsc{
	background-color:transparent;
	background-image:url(../images/sort_asc.png);
	background-position:0 0;
	background-repeat:no-repeat;
	height:16px;
	width:20px;
}
.sortAsc:hover{
	cursor :pointer;
}

.sortDesc{
	background-color:transparent;
	background-image:url(../images/sort_desc.png);
	background-position:0 0;
	background-repeat:no-repeat;
	height:16px;
	width:20px;
}
.sortDesc:hover{
	cursor :pointer;
}
.manageUsers:hover{
	cursor :pointer;
}

.executeXQuery{
	background-color:transparent;
	background-image:url(../images/toolbar/asterisk_orange.png);
	background-position:0 0;
	background-repeat:no-repeat;
	height:16px;
	width:20px;

}

.executeXQuery:hover{
	cursor :pointer;
}
.textarea_size{
	min-height:200px;
	width:300px;
}

.td_left{
 	width:300px;
	vertical-align:top;
	text-align:left;
}

.td_middle{
	width:200px;
	text-align:center;
}
.td_right{
 	width:300px; 
 	vertical-align:top;
	text-align:left;

}

.input_width300{
	width:300px;
}

#progress{
	-moz-border-radius: 8px;
	border-radius: 8px;
	visibility:hidden; 
	position:absolute; 
	background-color: #B8B9BB;
	height:150%;
	width:95%;
	opacity:0.3;
	filter:alpha(opacity=30);
	text-align : center; 
	vertical-align:middle;
}
#progress_image{
	padding-left:60px;
	padding-top:70px;
}

.fieldset-add-icon {
	background-color:transparent;
    background-image: url("../../../../../templates/easysdi/icons/silk/add.png");
    background-position:0 0;
    background-repeat:no-repeat;
    height:20px;
    width:20px;
}

.fieldset-delete-icon {
	background-color:transparent;
    background-image: url("../../../../../templates/easysdi/icons/silk/delete.png");
    background-position:0 0;
    background-repeat:no-repeat;
    height:20px;
    width:20px;
}