@CHARSET "ISO-8859-1";
.headerShop{

}
.bodyShop{

}
.previousStep { 
        float: left;
        padding: 4px 10px;
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
        border-top: 1px solid #ccc;
        margin-left: 3px;
        background: #f0f0d0;
        color: #666;
}
.selectableStep { 
        float: left;
        padding: 4px 10px;
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
        border-top: 1px solid #ccc;
        margin-left: 3px;
        background: #f0f0d0;
        color: #666;
}
.currentStep {
        float: left;
        padding: 4px 10px;
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
        border-top: 1px solid #ccc;
        margin-left: 3px;
        background: #dddddd;
        color: #666;
        
        }

.unselectableStep {
        float: left;
        padding: 4px 10px;
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
        border-top: 1px solid #ccc;
        margin-left: 3px;
        background: #f0f0f0;
        color: #666;

}



.tinymap {
        width: 256px;
        height: 256px;
        border: 1px solid #ccc;
}

.smallmap {
    width: 512px;
    height: 512px;
    border: 1px solid #ccc;
}

#controls {
            float: right;
            text-align: right;
        }
      
.olControlPanel div { 
          display:block;
          width:  24px;
          height: 24px;
          margin: 5px;
          background-color:blue;
        }


fieldset {
        margin-bottom: 10px;
        border: 1px #ccc solid;
        padding: 5px;
        text-align: left;
}

fieldset p {  margin: 10px 0px;  }

legend    {
        color: #0B55C4;
        font-size: 12px;
        font-weight: bold;
}


dl.tabs {
        float: left;
        margin: 10px 0 -1px 0;
        z-index: 50;
}

dl.tabs dt {
        float: left;
        padding: 4px 10px;
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
        border-top: 1px solid #ccc;
        margin-left: 3px;
        background: #f0f0f0;
        color: #666;
}

dl.tabs dt.open {
        background: #F9F9F9;
        border-bottom: 1px solid #F9F9F9;
        z-index: 100;
        color: #000;
}


.olControlEditingToolbar  {
            float:left;
            right: 0px;
            height: 30px; 
            width: 150px;
        }

div.olMap {
        z-index: 0;
    padding: 0px!important;
    margin: 0px!important;
}

div.olMapViewport {
    text-align: left;
}

div.olLayerDiv {
  -moz-user-select: none;
}

.olLayerGoogleCopyright {
    left: 2px;
    bottom: 2px;  
}
.olLayerGooglePoweredBy {
    left: 2px;
    bottom: 15px;   
}
.olControlAttribution {
    font-size: smaller; 
    right: 3px; 
    bottom: 4.5em; 
    position: absolute; 
    display: block;
}
.olControlScale {
    right: 3px;
    bottom: 3em;
    display: block;
    position: absolute;
    font-size: smaller;
}
.olControlScaleLine {
  left: 10px;
  bottom: 15px;
  font-size: xx-small;
}
.olControlScaleLineBottom {
  border: solid 2px black;
  border-bottom: none;
  margin-top:-2px;
  text-align: center;
}
.olControlScaleLineTop {
  border: solid 2px black;
  border-top: none;
  text-align: center;
}

.olControlPermalink {
    right: 3px;
    bottom: 1.5em;
    display: block;
    position: absolute;
    font-size: smaller;
} 

div.olControlMousePosition {
    bottom: 0em;
    right: 3px;
    display: block;
    position: absolute;
    font-family: Arial;
    font-size: smaller;
}

.olControlOverviewMapContainer {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.olControlOverviewMapElement {
    padding: 10px 18px 10px 10px;
    background-color: #00008B;
    -moz-border-radius: 1em 0 0 0;
}

.olControlOverviewMapMinimizeButton {
    right: 0px;
    bottom: 80px;
}    

.olControlOverviewMapMaximizeButton {
    right: 0px;
    bottom: 80px;
}

.olControlOverviewMapExtentRectangle {
    overflow: hidden;
    background-image: url("../images/blank.gif");
    cursor: move;
    border: 2px dotted red;
}
.olControlOverviewMapRectReplacement {
    overflow: hidden;
    cursor: move;
    background-image: url("../images/overview_replacement.gif");
    background-repeat: no-repeat;
    background-position: center;
}

.olLayerGeoRSSDescription {
    float:left;
    width:100%;
    overflow:auto;
    font-size:1.0em;
}
.olLayerGeoRSSClose {
    float:right;
    color:gray;
    font-size:1.2em;
    margin-right:6px;
    font-family:sans-serif;
}
.olLayerGeoRSSTitle {
    float:left;font-size:1.2em;
}

.olPopupContent {
    padding:5px;
    overflow: auto;
}    
.olControlNavToolbarExt { 
    width:0px;
    height:0px;
}    
.olControlNavToolbarExt div { 
  display:block;
  width:  28px;
  height: 280px;
  top: 0px;
  left: 6px;
  position: relative;
}

.olControlNavigationHistory {
  background-image: url("../images/navigation_history.png");
  background-repeat: no-repeat;
  width:  24px;
  height: 24px;

}
.olControlNavigationHistoryPreviousItemActive { 
  background-position: 0px 0px;
}
.olControlNavigationHistoryPreviousItemInactive { 
  background-position: 0px -24px;
}
.olControlNavigationHistoryNextItemActive { 
  background-position: -24px 0px;
}
.olControlNavigationHistoryNextItemInactive { 
  background-position: -24px -24px;
}

.olControlNavToolbar .olControlNavigationItemActive { 
  background-image: url("../images/panning-hand-on.png");
  background-repeat: no-repeat;
}
.olControlNavToolbar .olControlNavigationItemInactive { 
  background-image: url("../images/panning-hand-off.png");
  background-repeat: no-repeat;
}
.olControlNavToolbar .olControlZoomBoxItemActive { 
  background-image: url("../images/drag-rectangle-on.png");
  background-color: blue;
  background-repeat: no-repeat;
}
.olControlNavToolbar .olControlZoomBoxItemInactive { 
  background-image: url("../images/drag-rectangle-off.png");
  background-repeat: no-repeat;
}
.olControlEditingToolbar  {
    float:right;
    right: 0px;
    height: 30px; 
    width: 200px;
}
.olControlEditingToolbar div { 
  background-image: url("../images/editing_tool_bar.png");
  background-repeat: no-repeat;
  float:right;
  width:  24px;
  height: 24px;
  margin: 5px;
}
.olControlEditingToolbar .olControlNavigationItemActive { 
  background-position: -103px -23px; 
}
.olControlEditingToolbar .olControlNavigationItemInactive { 
  background-position: -103px -0px; 
}
.olControlPanel .olControlDrawFeaturePointItemActive { 
  background-position: -77px -23px; 
  background-image: url("../images/draw_point_on.png");
}
.olControlPanel .olControlDrawFeaturePointItemInactive { 
  background-position: -77px -0px; 
  background-image: url("../images/draw_point_off.png");
}
.olControlPanel .olControlDrawFeaturePathItemInactive { 
  background-position: -51px 0px; 
}
.olControlPanel .olControlDrawFeaturePathItemActive { 
  background-position: -51px -23px; 
}
.olControlPanel .olControlDrawFeaturePolygonItemInactive  { 
  background-position: -26px 0px; 
  background-image: url("../images/draw_polygon_off.png");
}
.olControlPanel  .olControlDrawFeaturePolygonItemActive { 
  background-position: -26px -23px ;                        
  background-image: url("../images/draw_polygon_on.png");                                           
}

.olControlPanel .olControlDrawFeatureRectangleItemInactive  { 
  background-position: -26px 0px; 
  background-image: url("../images/draw_rectangle_off.png");
}
.olControlPanel  .olControlDrawFeatureRectangleItemActive { 
  background-position: -26px -23px ;
  background-image: url("../images/draw_rectangle_on.png");                                                                   
}


.olControlSaveFeaturesItemActive { 
    background-image: url(../images/save_features_on.png);
    background-repeat: no-repeat;
    background-position: 0px 1px;
}
.olControlSaveFeaturesItemInactive { 
    background-image: url(../images/save_features_off.png);
    background-repeat: no-repeat;
    background-position: 0px 1px;
}

.olHandlerBoxZoomBox {
    border: 2px solid red;
    position: absolute;
    background-color: white;
    opacity: 0.50;
    font-size: 1px;
    filter: alpha(opacity=50);
}
.olHandlerBoxSelectFeature {
    border: 2px solid blue;
    position: absolute;
    background-color: white;
    opacity: 0.50;
    font-size: 1px;
    filter: alpha(opacity=50);
}   

.olControlPanPanel {
    top: 10px;
    left: 5px;
}  

.olControlPanPanel div {
    background-image: url(../images/pan-panel.png);
    height: 18px;
    width: 18px;
    cursor: pointer;
    position: absolute;
}

.olControlPanPanel .olControlPanNorthItemInactive {
    top: 0px;
    left: 9px;
    background-position: 0px 0px;
}
.olControlPanPanel .olControlPanSouthItemInactive {
    top: 36px;
    left: 9px;
    background-position: 18px 0px;
}
.olControlPanPanel .olControlPanWestItemInactive {
    position: absolute;
    top: 18px;
    left: 0px;
    background-position: 0px 18px;
}
.olControlPanPanel .olControlPanEastItemInactive {
    top: 18px;
    left: 18px;
    background-position: 18px 18px;
}

.olControlZoomPanel {
    top: 71px;
    left: 14px;
} 

.olControlZoomPanel div {
    background-image: url(../images/zoom-panel.png);
    position: absolute;
    height: 18px;
    width: 18px;
    cursor: pointer;
}

.olControlZoomPanel .olControlZoomInItemInactive {
    top: 0px;
    left: 0px;
    background-position: 0px 0px;
}
                                        
.olControlZoomPanel .olControlZoomToMaxExtentItemInactive {
    top: 18px;
    left: 0px;
    background-position: 0px -18px;
}
                                        
.olControlZoomPanel .olControlZoomOutItemInactive {
    top: 36px;
    left: 0px;
    background-position: 0px 18px;
    background: url("../images/logo.jpg") no-repeat;
}

.olPopupCloseBox {
  background: url("../images/close.gif") no-repeat;
  cursor: pointer;
}

.olControlNoSelect {
-moz-user-select: none;
}


.olControlPanel div { 
          display:block;
          width:  24px;
          height: 24px;
          margin: 5px;
          background-color:red;
        }
        
.olControlPanel .olControlMouseDefaultsItemActive { 
          background-color: blue;
          background-image: url("../images/pan_on.png");
        }

.olControlPanel .olControlMouseDefaultsItemInactive { 
          background-color: orange;
          background-image: url("../images/pan_off.png");
        }
.olControlPanel .olControlDrawFeatureItemActive { 
          width:  22px;  
          height: 22px;
          background-image: url("../images/pan_off.png");
        }
.olControlPanel .olControlDrawFeatureItemInactive { 
          width:  22px;  
          height: 22px;
                        background-image: url("../images/pan_off.png");
        }
        .olControlPanel .olControlZoomBoxItemInactive { 
          width:  22px;  
          height: 22px;
          background-color: orange;
          background-image: url("../images/drag-rectangle-off.png");
        }
        .olControlPanel .olControlZoomBoxItemActive { 
          width:  22px;  
          height: 22px;
          background-color: blue;
          background-image: url("../images/drag-rectangle-on.png");
        }
        .olControlPanel .olControlZoomToMaxExtentItemInactive { 
          width:  18px;  
          height: 18px;
          background-image: url("../images/zoom-world-mini.png");
        }

.contentheading, .componentheading 
{
font-weight: bold;
font-size: 22px;

}

h1, h2, h3, h4, h5, h6 

{

font-family: Arial,Helvetica,sans-serif;

font-weight: bold;

padding-bottom: 0px;

margin-bottom: 5px;

line-height: 100%;

}
h2 
{
font-size: 18px;
}
h3 
{
font-size: 15px;
}
div.article_row h2.contentheading, .contentin h3, #contentbottom h3 

{

position: relative;

left: -10px;

font-size: 15px;

line-height: 18px;

padding-top: 3px;

padding-right: 3px;

padding-bottom: 3px;

padding-left: 10px;

margin-bottom: 10px;

width: 545px;

background-color: #e4e4e4;

background-image: url(none);

}
#status{
          background-color: red;
}




