ALTER TABLE [users] DROP CONSTRAINT [users$FK_USERS_ROLE]
GO
ALTER TABLE [service_types_methods] DROP CONSTRAINT [service_types_methods$FK_SERVICE_TYPES_METHODS_TYPE]
GO
ALTER TABLE [service_types_methods] DROP CONSTRAINT [service_types_methods$FK_SERVICE_TYPES_METHODS_METHOD]
GO
ALTER TABLE [query_validation_settings] DROP CONSTRAINT [query_validation_settings$fk_query_validation_settings_queries1]
GO
ALTER TABLE [query_validation_results] DROP CONSTRAINT [query_validation_results$fk_query_validation_results_queries1]
GO
ALTER TABLE [query_params] DROP CONSTRAINT [query_params$FK_QUERY_PARAMS_QUERY]
GO
ALTER TABLE [query_agg_log_entries] DROP CONSTRAINT [query_agg_log_entries$FK_QUERY_AGG_LOG_ENTRIES_QUERY]
GO
ALTER TABLE [query_agg_hour_log_entries] DROP CONSTRAINT [query_agg_hour_log_entries$FK_QUERY_AGG_HOUR_LOG_ENTRIES_QUERY]
GO
ALTER TABLE [queries] DROP CONSTRAINT [queries$FK_QUERIES_STATUS]
GO
ALTER TABLE [queries] DROP CONSTRAINT [queries$FK_QUERIES_METHOD]
GO
ALTER TABLE [queries] DROP CONSTRAINT [queries$FK_QUERIES_JOB]
GO
ALTER TABLE [periods] DROP CONSTRAINT [periods$FK_PERIODS_SLA]
GO
ALTER TABLE [overview_queries] DROP CONSTRAINT [overview_queries$FK_OW_QUERY_PAGE]
GO
ALTER TABLE [overview_queries] DROP CONSTRAINT [overview_queries$FK_OVERVIEWQUERY_QUERY]
GO
ALTER TABLE [log_entries] DROP CONSTRAINT [log_entries$fk_log_entries_statuses_STATUS]
GO
ALTER TABLE [log_entries] DROP CONSTRAINT [log_entries$FK_LOG_ENTRIES_QUERY]
GO
ALTER TABLE [last_query_results] DROP CONSTRAINT [last_query_results$FK_LAST_QUERY_QUERY]
GO
ALTER TABLE [jos_sdi_visualization] DROP CONSTRAINT [jos_sdi_visualization$jos_sdi_visualization_fk1]
GO
ALTER TABLE [jos_sdi_versionlink] DROP CONSTRAINT [jos_sdi_versionlink$jos_sdi_versionlink_fk2]
GO
ALTER TABLE [jos_sdi_versionlink] DROP CONSTRAINT [jos_sdi_versionlink$jos_sdi_versionlink_fk1]
GO
ALTER TABLE [jos_sdi_version] DROP CONSTRAINT [jos_sdi_version$jos_sdi_version_fk1]
GO
ALTER TABLE [jos_sdi_user_role_resource] DROP CONSTRAINT [jos_sdi_user_role_resource$jos_sdi_user_role_resource_fk3]
GO
ALTER TABLE [jos_sdi_user_role_resource] DROP CONSTRAINT [jos_sdi_user_role_resource$jos_sdi_user_role_resource_fk2]
GO
ALTER TABLE [jos_sdi_user_role_resource] DROP CONSTRAINT [jos_sdi_user_role_resource$jos_sdi_user_role_resource_fk1]
GO
ALTER TABLE [jos_sdi_translation] DROP CONSTRAINT [jos_sdi_translation$jos_sdi_translation_fk1]
GO
ALTER TABLE [jos_sdi_sys_stereotype] DROP CONSTRAINT [jos_sdi_sys_stereotype$jos_sdi_sys_stereotype_fk2]
GO
ALTER TABLE [jos_sdi_sys_stereotype] DROP CONSTRAINT [jos_sdi_sys_stereotype$jos_sdi_sys_stereotype_fk1]
GO
ALTER TABLE [jos_sdi_sys_rendertype_stereotype] DROP CONSTRAINT [jos_sdi_sys_rendertype_stereotype$jos_sdi_sys_rendertype_stereotype_fk2]
GO
ALTER TABLE [jos_sdi_sys_rendertype_stereotype] DROP CONSTRAINT [jos_sdi_sys_rendertype_stereotype$jos_sdi_sys_rendertype_stereotype_fk1]
GO
ALTER TABLE [jos_sdi_sys_rendertype_criteriatype] DROP CONSTRAINT [jos_sdi_sys_rendertype_criteriatype$jos_sdi_sys_rendertype_criteriatype_fk2]
GO
ALTER TABLE [jos_sdi_sys_rendertype_criteriatype] DROP CONSTRAINT [jos_sdi_sys_rendertype_criteriatype$jos_sdi_sys_rendertype_criteriatype_fk1]
GO
ALTER TABLE [jos_sdi_searchcriteriafilter] DROP CONSTRAINT [jos_sdi_searchcriteriafilter$jos_sdi_searchcriteriafilter_fk2]
GO
ALTER TABLE [jos_sdi_searchcriteriafilter] DROP CONSTRAINT [jos_sdi_searchcriteriafilter$jos_sdi_searchcriteriafilter_fk1]
GO
ALTER TABLE [jos_sdi_searchcriteria] DROP CONSTRAINT [jos_sdi_searchcriteria$jos_sdi_searchcriteria_fk3]
GO
ALTER TABLE [jos_sdi_searchcriteria] DROP CONSTRAINT [jos_sdi_searchcriteria$jos_sdi_searchcriteria_fk2]
GO
ALTER TABLE [jos_sdi_searchcriteria] DROP CONSTRAINT [jos_sdi_searchcriteria$jos_sdi_searchcriteria_fk1]
GO
ALTER TABLE [jos_sdi_resourcetypelinkinheritance] DROP CONSTRAINT [jos_sdi_resourcetypelinkinheritance$jos_sdi_resourcetypelinkinheritance_fk1]
GO
ALTER TABLE [jos_sdi_resourcetypelink] DROP CONSTRAINT [jos_sdi_resourcetypelink$jos_sdi_resourcetypelink_fk4]
GO
ALTER TABLE [jos_sdi_resourcetypelink] DROP CONSTRAINT [jos_sdi_resourcetypelink$jos_sdi_resourcetypelink_fk3]
GO
ALTER TABLE [jos_sdi_resourcetypelink] DROP CONSTRAINT [jos_sdi_resourcetypelink$jos_sdi_resourcetypelink_fk2]
GO
ALTER TABLE [jos_sdi_resourcetypelink] DROP CONSTRAINT [jos_sdi_resourcetypelink$jos_sdi_resourcetypelink_fk1]
GO
ALTER TABLE [jos_sdi_resourcetype] DROP CONSTRAINT [jos_sdi_resourcetype$jos_sdi_resourcetype_fk3]
GO
ALTER TABLE [jos_sdi_resourcetype] DROP CONSTRAINT [jos_sdi_resourcetype$jos_sdi_resourcetype_fk2]
GO
ALTER TABLE [jos_sdi_resourcetype] DROP CONSTRAINT [jos_sdi_resourcetype$jos_sdi_resourcetype_fk1]
GO
ALTER TABLE [jos_sdi_resource] DROP CONSTRAINT [jos_sdi_resource$jos_sdi_resource_fk3]
GO
ALTER TABLE [jos_sdi_resource] DROP CONSTRAINT [jos_sdi_resource$jos_sdi_resource_fk2]
GO
ALTER TABLE [jos_sdi_resource] DROP CONSTRAINT [jos_sdi_resource$jos_sdi_resource_fk1]
GO
ALTER TABLE [jos_sdi_relation_profile] DROP CONSTRAINT [jos_sdi_relation_profile$jos_sdi_relation_profile_fk2]
GO
ALTER TABLE [jos_sdi_relation_profile] DROP CONSTRAINT [jos_sdi_relation_profile$jos_sdi_relation_profile_fk1]
GO
ALTER TABLE [jos_sdi_relation_defaultvalue] DROP CONSTRAINT [jos_sdi_relation_defaultvalue$jos_sdi_relation_defaultvalue_fk3]
GO
ALTER TABLE [jos_sdi_relation_defaultvalue] DROP CONSTRAINT [jos_sdi_relation_defaultvalue$jos_sdi_relation_defaultvalue_fk2]
GO
ALTER TABLE [jos_sdi_relation_defaultvalue] DROP CONSTRAINT [jos_sdi_relation_defaultvalue$jos_sdi_relation_defaultvalue_fk1]
GO
ALTER TABLE [jos_sdi_relation_catalog] DROP CONSTRAINT [jos_sdi_relation_catalog$jos_sdi_relation_catalog_fk2]
GO
ALTER TABLE [jos_sdi_relation_catalog] DROP CONSTRAINT [jos_sdi_relation_catalog$jos_sdi_relation_catalog_fk1]
GO
ALTER TABLE [jos_sdi_relation] DROP CONSTRAINT [jos_sdi_relation$jos_sdi_relation_fk9]
GO
ALTER TABLE [jos_sdi_relation] DROP CONSTRAINT [jos_sdi_relation$jos_sdi_relation_fk8]
GO
ALTER TABLE [jos_sdi_relation] DROP CONSTRAINT [jos_sdi_relation$jos_sdi_relation_fk7]
GO
ALTER TABLE [jos_sdi_relation] DROP CONSTRAINT [jos_sdi_relation$jos_sdi_relation_fk6]
GO
ALTER TABLE [jos_sdi_relation] DROP CONSTRAINT [jos_sdi_relation$jos_sdi_relation_fk5]
GO
ALTER TABLE [jos_sdi_relation] DROP CONSTRAINT [jos_sdi_relation$jos_sdi_relation_fk4]
GO
ALTER TABLE [jos_sdi_relation] DROP CONSTRAINT [jos_sdi_relation$jos_sdi_relation_fk3]
GO
ALTER TABLE [jos_sdi_relation] DROP CONSTRAINT [jos_sdi_relation$jos_sdi_relation_fk2]
GO
ALTER TABLE [jos_sdi_relation] DROP CONSTRAINT [jos_sdi_relation$jos_sdi_relation_fk10]
GO
ALTER TABLE [jos_sdi_relation] DROP CONSTRAINT [jos_sdi_relation$jos_sdi_relation_fk1]
GO
ALTER TABLE [jos_sdi_propertyvalue] DROP CONSTRAINT [jos_sdi_propertyvalue$jos_sdi_propertyvalue_fk1]
GO
ALTER TABLE [jos_sdi_property] DROP CONSTRAINT [jos_sdi_property$jos_sdi_property_fk2]
GO
ALTER TABLE [jos_sdi_property] DROP CONSTRAINT [jos_sdi_property$jos_sdi_property_fk1]
GO
ALTER TABLE [jos_sdi_profile] DROP CONSTRAINT [jos_sdi_profile$jos_sdi_profile_fk1]
GO
ALTER TABLE [jos_sdi_perimeter] DROP CONSTRAINT [jos_sdi_perimeter$jos_sdi_perimeter_fk2]
GO
ALTER TABLE [jos_sdi_perimeter] DROP CONSTRAINT [jos_sdi_perimeter$jos_sdi_perimeter_fk1]
GO
ALTER TABLE [jos_sdi_order_propertyvalue] DROP CONSTRAINT [jos_sdi_order_propertyvalue$jos_sdi_order_propertyvalue_fk3]
GO
ALTER TABLE [jos_sdi_order_propertyvalue] DROP CONSTRAINT [jos_sdi_order_propertyvalue$jos_sdi_order_propertyvalue_fk2]
GO
ALTER TABLE [jos_sdi_order_propertyvalue] DROP CONSTRAINT [jos_sdi_order_propertyvalue$jos_sdi_order_propertyvalue_fk1]
GO
ALTER TABLE [jos_sdi_order_perimeter] DROP CONSTRAINT [jos_sdi_order_perimeter$jos_sdi_order_perimeter_fk2]
GO
ALTER TABLE [jos_sdi_order_perimeter] DROP CONSTRAINT [jos_sdi_order_perimeter$jos_sdi_order_perimeter_fk1]
GO
ALTER TABLE [jos_sdi_order_diffusion] DROP CONSTRAINT [jos_sdi_order_diffusion$jos_sdi_order_diffusion_fk3]
GO
ALTER TABLE [jos_sdi_order_diffusion] DROP CONSTRAINT [jos_sdi_order_diffusion$jos_sdi_order_diffusion_fk2]
GO
ALTER TABLE [jos_sdi_order_diffusion] DROP CONSTRAINT [jos_sdi_order_diffusion$jos_sdi_order_diffusion_fk1]
GO
ALTER TABLE [jos_sdi_order] DROP CONSTRAINT [jos_sdi_order$jos_sdi_order_fk4]
GO
ALTER TABLE [jos_sdi_order] DROP CONSTRAINT [jos_sdi_order$jos_sdi_order_fk3]
GO
ALTER TABLE [jos_sdi_order] DROP CONSTRAINT [jos_sdi_order$jos_sdi_order_fk2]
GO
ALTER TABLE [jos_sdi_order] DROP CONSTRAINT [jos_sdi_order$jos_sdi_order_fk1]
GO
ALTER TABLE [jos_sdi_metadata] DROP CONSTRAINT [jos_sdi_metadata$jos_sdi_metadata_fk3]
GO
ALTER TABLE [jos_sdi_metadata] DROP CONSTRAINT [jos_sdi_metadata$jos_sdi_metadata_fk2]
GO
ALTER TABLE [jos_sdi_metadata] DROP CONSTRAINT [jos_sdi_metadata$jos_sdi_metadata_fk1]
GO
ALTER TABLE [jos_sdi_maplayer] DROP CONSTRAINT [jos_sdi_maplayer$jos_sdi_maplayer_fk1]
GO
ALTER TABLE [jos_sdi_map_virtualservice] DROP CONSTRAINT [jos_sdi_map_virtualservice$jos_sdi_map_virtualservice_fk2]
GO
ALTER TABLE [jos_sdi_map_virtualservice] DROP CONSTRAINT [jos_sdi_map_virtualservice$jos_sdi_map_virtualservice_fk1]
GO
ALTER TABLE [jos_sdi_map_tool] DROP CONSTRAINT [jos_sdi_map_tool$jos_sdi_map_tool_fk2]
GO
ALTER TABLE [jos_sdi_map_tool] DROP CONSTRAINT [jos_sdi_map_tool$jos_sdi_map_tool_fk1]
GO
ALTER TABLE [jos_sdi_map_physicalservice] DROP CONSTRAINT [jos_sdi_map_physicalservice$jos_sdi_map_physicalservice_fk2]
GO
ALTER TABLE [jos_sdi_map_physicalservice] DROP CONSTRAINT [jos_sdi_map_physicalservice$jos_sdi_map_physicalservice_fk1]
GO
ALTER TABLE [jos_sdi_map_layergroup] DROP CONSTRAINT [jos_sdi_map_layergroup$jos_sdi_map_layergroup_fk2]
GO
ALTER TABLE [jos_sdi_map_layergroup] DROP CONSTRAINT [jos_sdi_map_layergroup$jos_sdi_map_layergroup_fk1]
GO
ALTER TABLE [jos_sdi_map] DROP CONSTRAINT [jos_sdi_map$jos_sdi_map_fk2]
GO
ALTER TABLE [jos_sdi_layer_layergroup] DROP CONSTRAINT [jos_sdi_layer_layergroup$jos_sdi_layer_layergroup_fk2]
GO
ALTER TABLE [jos_sdi_layer_layergroup] DROP CONSTRAINT [jos_sdi_layer_layergroup$jos_sdi_layer_layergroup_fk1]
GO
ALTER TABLE [jos_sdi_importref] DROP CONSTRAINT [jos_sdi_importref$jos_sdi_importref_fk3]
GO
ALTER TABLE [jos_sdi_importref] DROP CONSTRAINT [jos_sdi_importref$jos_sdi_importref_fk2]
GO
ALTER TABLE [jos_sdi_importref] DROP CONSTRAINT [jos_sdi_importref$jos_sdi_importref_fk1]
GO
ALTER TABLE [jos_sdi_diffusion_propertyvalue] DROP CONSTRAINT [jos_sdi_diffusion_propertyvalue$jos_sdi_diffusion_propertyvalue_fk2]
GO
ALTER TABLE [jos_sdi_diffusion_propertyvalue] DROP CONSTRAINT [jos_sdi_diffusion_propertyvalue$jos_sdi_diffusion_propertyvalue_fk1]
GO
ALTER TABLE [jos_sdi_diffusion_perimeter] DROP CONSTRAINT [jos_sdi_diffusion_perimeter$jos_sdi_diffusion_perimeter_fk2]
GO
ALTER TABLE [jos_sdi_diffusion_perimeter] DROP CONSTRAINT [jos_sdi_diffusion_perimeter$jos_sdi_diffusion_perimeter_fk1]
GO
ALTER TABLE [jos_sdi_diffusion_notifieduser] DROP CONSTRAINT [jos_sdi_diffusion_notifieduser$jos_sdi_diffusion_notifieduser_fk2]
GO
ALTER TABLE [jos_sdi_diffusion_notifieduser] DROP CONSTRAINT [jos_sdi_diffusion_notifieduser$jos_sdi_diffusion_notifieduser_fk1]
GO
ALTER TABLE [jos_sdi_diffusion_download] DROP CONSTRAINT [jos_sdi_diffusion_download$jos_sdi_diffusion_download_fk2]
GO
ALTER TABLE [jos_sdi_diffusion_download] DROP CONSTRAINT [jos_sdi_diffusion_download$jos_sdi_diffusion_download_fk1]
GO
ALTER TABLE [jos_sdi_diffusion] DROP CONSTRAINT [jos_sdi_diffusion$jos_sdi_diffusion_fk5]
GO
ALTER TABLE [jos_sdi_diffusion] DROP CONSTRAINT [jos_sdi_diffusion$jos_sdi_diffusion_fk4]
GO
ALTER TABLE [jos_sdi_diffusion] DROP CONSTRAINT [jos_sdi_diffusion$jos_sdi_diffusion_fk3]
GO
ALTER TABLE [jos_sdi_diffusion] DROP CONSTRAINT [jos_sdi_diffusion$jos_sdi_diffusion_fk2]
GO
ALTER TABLE [jos_sdi_diffusion] DROP CONSTRAINT [jos_sdi_diffusion$jos_sdi_diffusion_fk1]
GO
ALTER TABLE [jos_sdi_class] DROP CONSTRAINT [jos_sdi_class$jos_sdi_class_fk2]
GO
ALTER TABLE [jos_sdi_class] DROP CONSTRAINT [jos_sdi_class$jos_sdi_class_fk1]
GO
ALTER TABLE [jos_sdi_catalog_searchsort] DROP CONSTRAINT [jos_sdi_catalog_searchsort$jos_sdi_catalog_searchsort_fk2]
GO
ALTER TABLE [jos_sdi_catalog_searchsort] DROP CONSTRAINT [jos_sdi_catalog_searchsort$jos_sdi_catalog_searchsort_fk1]
GO
ALTER TABLE [jos_sdi_catalog_searchcriteria] DROP CONSTRAINT [jos_sdi_catalog_searchcriteria$jos_sdi_catalog_searchcriteria_fk3]
GO
ALTER TABLE [jos_sdi_catalog_searchcriteria] DROP CONSTRAINT [jos_sdi_catalog_searchcriteria$jos_sdi_catalog_searchcriteria_fk2]
GO
ALTER TABLE [jos_sdi_catalog_searchcriteria] DROP CONSTRAINT [jos_sdi_catalog_searchcriteria$jos_sdi_catalog_searchcriteria_fk1]
GO
ALTER TABLE [jos_sdi_catalog_resourcetype] DROP CONSTRAINT [jos_sdi_catalog_resourcetype$jos_sdi_catalog_resourcetype_fk2]
GO
ALTER TABLE [jos_sdi_catalog_resourcetype] DROP CONSTRAINT [jos_sdi_catalog_resourcetype$jos_sdi_catalog_resourcetype_fk1]
GO
ALTER TABLE [jos_sdi_boundarycategory] DROP CONSTRAINT [jos_sdi_boundarycategory$jos_sdi_boundarycategory_fk1]
GO
ALTER TABLE [jos_sdi_boundary] DROP CONSTRAINT [jos_sdi_boundary$jos_sdi_boundary_fk2]
GO
ALTER TABLE [jos_sdi_boundary] DROP CONSTRAINT [jos_sdi_boundary$jos_sdi_boundary_fk1]
GO
ALTER TABLE [jos_sdi_attributevalue] DROP CONSTRAINT [jos_sdi_attributevalue$jos_sdi_attributevalue]
GO
ALTER TABLE [jos_sdi_attribute] DROP CONSTRAINT [jos_sdi_attribute$sdi_attribute_fk3]
GO
ALTER TABLE [jos_sdi_attribute] DROP CONSTRAINT [jos_sdi_attribute$sdi_attribute_fk2]
GO
ALTER TABLE [jos_sdi_attribute] DROP CONSTRAINT [jos_sdi_attribute$sdi_attribute_fk1]
GO
ALTER TABLE [jos_sdi_assignment] DROP CONSTRAINT [jos_sdi_assignment$jos_sdi_assignment_fk3]
GO
ALTER TABLE [jos_sdi_assignment] DROP CONSTRAINT [jos_sdi_assignment$jos_sdi_assignment_fk2]
GO
ALTER TABLE [jos_sdi_assignment] DROP CONSTRAINT [jos_sdi_assignment$jos_sdi_assignment_fk1]
GO
ALTER TABLE [jos_sdi_application] DROP CONSTRAINT [jos_sdi_application$jos_sdi_application_fk1]
GO
ALTER TABLE [jos_sdi_address] DROP CONSTRAINT [jos_sdi_address$jos_sdi_address_fk5]
GO
ALTER TABLE [jos_sdi_address] DROP CONSTRAINT [jos_sdi_address$jos_sdi_address_fk4]
GO
ALTER TABLE [jos_sdi_address] DROP CONSTRAINT [jos_sdi_address$jos_sdi_address_fk3]
GO
ALTER TABLE [jos_sdi_address] DROP CONSTRAINT [jos_sdi_address$jos_sdi_address_fk1]
GO
ALTER TABLE [jos_sdi_accessscope] DROP CONSTRAINT [jos_sdi_accessscope$jos_sdi_accessscope_fk2]
GO
ALTER TABLE [jos_sdi_accessscope] DROP CONSTRAINT [jos_sdi_accessscope$jos_sdi_accessscope_fk1]
GO
ALTER TABLE [jobs] DROP CONSTRAINT [jobs$FK_JOBS_STATUS]
GO
ALTER TABLE [jobs] DROP CONSTRAINT [jobs$FK_JOBS_SERVICE_TYPE]
GO
ALTER TABLE [jobs] DROP CONSTRAINT [jobs$FK_JOBS_HTTP_METHOD]
GO
ALTER TABLE [job_agg_log_entries] DROP CONSTRAINT [job_agg_log_entries$FK_JOB_AGG_LOG_ENTRIES_JOB]
GO
ALTER TABLE [job_agg_hour_log_entries] DROP CONSTRAINT [job_agg_hour_log_entries$FK_JOB_AGG_HOUR_LOG_ENTRIES_JOB]
GO
ALTER TABLE [alerts] DROP CONSTRAINT [alerts$FK_ALERTS_OLD_STATUS]
GO
ALTER TABLE [alerts] DROP CONSTRAINT [alerts$FK_ALERTS_NEW_STATUS]
GO
ALTER TABLE [alerts] DROP CONSTRAINT [alerts$FK_ALERTS_JOB]
GO
ALTER TABLE [actions] DROP CONSTRAINT [actions$FK_ACTION_TYPE]
GO
ALTER TABLE [actions] DROP CONSTRAINT [actions$FK_ACTION_JOB]
GO
/****** Object:  Table [users]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [users]
GO
/****** Object:  Table [statuses]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [statuses]
GO
/****** Object:  Table [sla]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [sla]
GO
/****** Object:  Table [service_types_methods]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [service_types_methods]
GO
/****** Object:  Table [service_types]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [service_types]
GO
/****** Object:  Table [service_methods]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [service_methods]
GO
/****** Object:  Table [roles]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [roles]
GO
/****** Object:  Table [query_validation_settings]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [query_validation_settings]
GO
/****** Object:  Table [query_validation_results]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [query_validation_results]
GO
/****** Object:  Table [query_params]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [query_params]
GO
/****** Object:  Table [query_agg_log_entries]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [query_agg_log_entries]
GO
/****** Object:  Table [query_agg_hour_log_entries]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [query_agg_hour_log_entries]
GO
/****** Object:  Table [queries]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [queries]
GO
/****** Object:  Table [periods]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [periods]
GO
/****** Object:  Table [overview_queries]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [overview_queries]
GO
/****** Object:  Table [overview_page]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [overview_page]
GO
/****** Object:  Table [log_entries]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [log_entries]
GO
/****** Object:  Table [last_query_results]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [last_query_results]
GO
/****** Object:  Table [last_ids]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [last_ids]
GO
/****** Object:  Table [jos_sdi_wmtslayer_policy]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_wmtslayer_policy]
GO
/****** Object:  Table [jos_sdi_wmts_spatialpolicy]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_wmts_spatialpolicy]
GO
/****** Object:  Table [jos_sdi_wmslayer_policy]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_wmslayer_policy]
GO
/****** Object:  Table [jos_sdi_wms_spatialpolicy]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_wms_spatialpolicy]
GO
/****** Object:  Table [jos_sdi_wfs_spatialpolicy]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_wfs_spatialpolicy]
GO
/****** Object:  Table [jos_sdi_visualization]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_visualization]
GO
/****** Object:  Table [jos_sdi_virtualservice_servicecompliance]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_virtualservice_servicecompliance]
GO
/****** Object:  Table [jos_sdi_virtualservice_organism]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_virtualservice_organism]
GO
/****** Object:  Table [jos_sdi_virtualservice]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_virtualservice]
GO
/****** Object:  Table [jos_sdi_virtualmetadata]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_virtualmetadata]
GO
/****** Object:  Table [jos_sdi_virtual_physical]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_virtual_physical]
GO
/****** Object:  Table [jos_sdi_versionlink]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_versionlink]
GO
/****** Object:  Table [jos_sdi_version]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_version]
GO
/****** Object:  Table [jos_sdi_user_role_resource]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_user_role_resource]
GO
/****** Object:  Table [jos_sdi_user_role_organism]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_user_role_organism]
GO
/****** Object:  Table [jos_sdi_user]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_user]
GO
/****** Object:  Table [jos_sdi_translation]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_translation]
GO
/****** Object:  Table [jos_sdi_tilematrixset_policy]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_tilematrixset_policy]
GO
/****** Object:  Table [jos_sdi_tilematrix_policy]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_tilematrix_policy]
GO
/****** Object:  Table [jos_sdi_sys_versiontype]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_sys_versiontype]
GO
/****** Object:  Table [jos_sdi_sys_unit]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_sys_unit]
GO
/****** Object:  Table [jos_sdi_sys_topiccategory]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_sys_topiccategory]
GO
/****** Object:  Table [jos_sdi_sys_stereotype]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_sys_stereotype]
GO
/****** Object:  Table [jos_sdi_sys_spatialoperator]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_sys_spatialoperator]
GO
/****** Object:  Table [jos_sdi_sys_serviceversion]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_sys_serviceversion]
GO
/****** Object:  Table [jos_sdi_sys_servicetype]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_sys_servicetype]
GO
/****** Object:  Table [jos_sdi_sys_servicescope]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_sys_servicescope]
GO
/****** Object:  Table [jos_sdi_sys_serviceoperation]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_sys_serviceoperation]
GO
/****** Object:  Table [jos_sdi_sys_serviceconnector]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_sys_serviceconnector]
GO
/****** Object:  Table [jos_sdi_sys_servicecon_authenticationcon]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_sys_servicecon_authenticationcon]
GO
/****** Object:  Table [jos_sdi_sys_servicecompliance]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_sys_servicecompliance]
GO
/****** Object:  Table [jos_sdi_sys_searchtab]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_sys_searchtab]
GO
/****** Object:  Table [jos_sdi_sys_role]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_sys_role]
GO
/****** Object:  Table [jos_sdi_sys_rendertype_stereotype]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_sys_rendertype_stereotype]
GO
/****** Object:  Table [jos_sdi_sys_rendertype_criteriatype]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_sys_rendertype_criteriatype]
GO
/****** Object:  Table [jos_sdi_sys_rendertype]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_sys_rendertype]
GO
/****** Object:  Table [jos_sdi_sys_relationtype]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_sys_relationtype]
GO
/****** Object:  Table [jos_sdi_sys_relationscope]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_sys_relationscope]
GO
/****** Object:  Table [jos_sdi_sys_proxytype]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_sys_proxytype]
GO
/****** Object:  Table [jos_sdi_sys_propertytype]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_sys_propertytype]
GO
/****** Object:  Table [jos_sdi_sys_productstorage]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_sys_productstorage]
GO
/****** Object:  Table [jos_sdi_sys_productstate]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_sys_productstate]
GO
/****** Object:  Table [jos_sdi_sys_productmining]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_sys_productmining]
GO
/****** Object:  Table [jos_sdi_sys_pricing]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_sys_pricing]
GO
/****** Object:  Table [jos_sdi_sys_perimetertype]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_sys_perimetertype]
GO
/****** Object:  Table [jos_sdi_sys_ordertype]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_sys_ordertype]
GO
/****** Object:  Table [jos_sdi_sys_orderstate]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_sys_orderstate]
GO
/****** Object:  Table [jos_sdi_sys_operationcompliance]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_sys_operationcompliance]
GO
/****** Object:  Table [jos_sdi_sys_metadataversion]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_sys_metadataversion]
GO
/****** Object:  Table [jos_sdi_sys_metadatastate]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_sys_metadatastate]
GO
/****** Object:  Table [jos_sdi_sys_maptool]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_sys_maptool]
GO
/****** Object:  Table [jos_sdi_sys_logroll]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_sys_logroll]
GO
/****** Object:  Table [jos_sdi_sys_loglevel]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_sys_loglevel]
GO
/****** Object:  Table [jos_sdi_sys_isolanguage]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_sys_isolanguage]
GO
/****** Object:  Table [jos_sdi_sys_importtype]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_sys_importtype]
GO
/****** Object:  Table [jos_sdi_sys_exceptionlevel]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_sys_exceptionlevel]
GO
/****** Object:  Table [jos_sdi_sys_entity]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_sys_entity]
GO
/****** Object:  Table [jos_sdi_sys_criteriatype]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_sys_criteriatype]
GO
/****** Object:  Table [jos_sdi_sys_country]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_sys_country]
GO
/****** Object:  Table [jos_sdi_sys_authenticationlevel]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_sys_authenticationlevel]
GO
/****** Object:  Table [jos_sdi_sys_authenticationconnector]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_sys_authenticationconnector]
GO
/****** Object:  Table [jos_sdi_sys_addresstype]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_sys_addresstype]
GO
/****** Object:  Table [jos_sdi_sys_accessscope]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_sys_accessscope]
GO
/****** Object:  Table [jos_sdi_searchcriteriafilter]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_searchcriteriafilter]
GO
/****** Object:  Table [jos_sdi_searchcriteria]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_searchcriteria]
GO
/****** Object:  Table [jos_sdi_resourcetypelinkinheritance]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_resourcetypelinkinheritance]
GO
/****** Object:  Table [jos_sdi_resourcetypelink]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_resourcetypelink]
GO
/****** Object:  Table [jos_sdi_resourcetype]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_resourcetype]
GO
/****** Object:  Table [jos_sdi_resource]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_resource]
GO
/****** Object:  Table [jos_sdi_relation_profile]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_relation_profile]
GO
/****** Object:  Table [jos_sdi_relation_defaultvalue]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_relation_defaultvalue]
GO
/****** Object:  Table [jos_sdi_relation_catalog]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_relation_catalog]
GO
/****** Object:  Table [jos_sdi_relation]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_relation]
GO
/****** Object:  Table [jos_sdi_propertyvalue]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_propertyvalue]
GO
/****** Object:  Table [jos_sdi_property]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_property]
GO
/****** Object:  Table [jos_sdi_profile]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_profile]
GO
/****** Object:  Table [jos_sdi_policy_visibility]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_policy_visibility]
GO
/****** Object:  Table [jos_sdi_policy_user]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_policy_user]
GO
/****** Object:  Table [jos_sdi_policy_resourcetype]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_policy_resourcetype]
GO
/****** Object:  Table [jos_sdi_policy_organism]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_policy_organism]
GO
/****** Object:  Table [jos_sdi_policy_metadatastate]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_policy_metadatastate]
GO
/****** Object:  Table [jos_sdi_policy]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_policy]
GO
/****** Object:  Table [jos_sdi_physicalservice_servicecompliance]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_physicalservice_servicecompliance]
GO
/****** Object:  Table [jos_sdi_physicalservice_policy]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_physicalservice_policy]
GO
/****** Object:  Table [jos_sdi_physicalservice_organism]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_physicalservice_organism]
GO
/****** Object:  Table [jos_sdi_physicalservice]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_physicalservice]
GO
/****** Object:  Table [jos_sdi_perimeter]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_perimeter]
GO
/****** Object:  Table [jos_sdi_organism]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_organism]
GO
/****** Object:  Table [jos_sdi_order_propertyvalue]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_order_propertyvalue]
GO
/****** Object:  Table [jos_sdi_order_perimeter]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_order_perimeter]
GO
/****** Object:  Table [jos_sdi_order_diffusion]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_order_diffusion]
GO
/****** Object:  Table [jos_sdi_order]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_order]
GO
/****** Object:  Table [jos_sdi_namespace]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_namespace]
GO
/****** Object:  Table [jos_sdi_monitor_exports]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_monitor_exports]
GO
/****** Object:  Table [jos_sdi_metadata]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_metadata]
GO
/****** Object:  Table [jos_sdi_maplayer]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_maplayer]
GO
/****** Object:  Table [jos_sdi_map_virtualservice]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_map_virtualservice]
GO
/****** Object:  Table [jos_sdi_map_tool]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_map_tool]
GO
/****** Object:  Table [jos_sdi_map_physicalservice]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_map_physicalservice]
GO
/****** Object:  Table [jos_sdi_map_layergroup]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_map_layergroup]
GO
/****** Object:  Table [jos_sdi_map]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_map]
GO
/****** Object:  Table [jos_sdi_layergroup]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_layergroup]
GO
/****** Object:  Table [jos_sdi_layer_layergroup]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_layer_layergroup]
GO
/****** Object:  Table [jos_sdi_layer]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_layer]
GO
/****** Object:  Table [jos_sdi_language]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_language]
GO
/****** Object:  Table [jos_sdi_includedattribute]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_includedattribute]
GO
/****** Object:  Table [jos_sdi_importref]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_importref]
GO
/****** Object:  Table [jos_sdi_featuretype_policy]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_featuretype_policy]
GO
/****** Object:  Table [jos_sdi_excludedattribute]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_excludedattribute]
GO
/****** Object:  Table [jos_sdi_diffusion_propertyvalue]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_diffusion_propertyvalue]
GO
/****** Object:  Table [jos_sdi_diffusion_perimeter]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_diffusion_perimeter]
GO
/****** Object:  Table [jos_sdi_diffusion_notifieduser]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_diffusion_notifieduser]
GO
/****** Object:  Table [jos_sdi_diffusion_download]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_diffusion_download]
GO
/****** Object:  Table [jos_sdi_diffusion]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_diffusion]
GO
/****** Object:  Table [jos_sdi_csw_spatialpolicy]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_csw_spatialpolicy]
GO
/****** Object:  Table [jos_sdi_class]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_class]
GO
/****** Object:  Table [jos_sdi_catalog_searchsort]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_catalog_searchsort]
GO
/****** Object:  Table [jos_sdi_catalog_searchcriteria]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_catalog_searchcriteria]
GO
/****** Object:  Table [jos_sdi_catalog_resourcetype]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_catalog_resourcetype]
GO
/****** Object:  Table [jos_sdi_catalog]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_catalog]
GO
/****** Object:  Table [jos_sdi_boundarycategory]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_boundarycategory]
GO
/****** Object:  Table [jos_sdi_boundary]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_boundary]
GO
/****** Object:  Table [jos_sdi_attributevalue]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_attributevalue]
GO
/****** Object:  Table [jos_sdi_attribute]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_attribute]
GO
/****** Object:  Table [jos_sdi_assignment]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_assignment]
GO
/****** Object:  Table [jos_sdi_application]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_application]
GO
/****** Object:  Table [jos_sdi_allowedoperation]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_allowedoperation]
GO
/****** Object:  Table [jos_sdi_address]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_address]
GO
/****** Object:  Table [jos_sdi_accessscope]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jos_sdi_accessscope]
GO
/****** Object:  Table [jobs]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [jobs]
GO
/****** Object:  Table [job_defaults]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [job_defaults]
GO
/****** Object:  Table [job_agg_log_entries]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [job_agg_log_entries]
GO
/****** Object:  Table [job_agg_hour_log_entries]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [job_agg_hour_log_entries]
GO
/****** Object:  Table [http_methods]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [http_methods]
GO
/****** Object:  Table [holidays]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [holidays]
GO
/****** Object:  Table [alerts]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [alerts]
GO
/****** Object:  Table [actions]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [actions]
GO
/****** Object:  Table [action_types]    Script Date: 27.03.2014 14:44:58 ******/
DROP TABLE [action_types]
GO
