@CHARSET "ISO-8859-1";

/**************************/
/*** ASIT-Vd Metadata   ***/
/**************************/

div#metadata h2{
	color: #FFFFFF;
	background-color: #0C3A6D;
}

div#metadata h3{
	width:100%;
}

table#metadataTitle{
	background-color:#d4deff;
	
}

table#contactInfo{
	background-color:#d4deff;	
}

div#metadata hr {
  border: 0;
  background-color: #CCCCCC;
  height: 1px;
  margin: 9px 0 0;
}

div#metadata{
  clear:both;
  width:auto;
  padding-left:0px;
  padding-right:0px;
}

div#metadata .contentheading, .componentheading {
	margin:0 0 1px;
}

div#metadata td{
	color:#333333;
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
	line-height:15px;
	text-align: justify;
}

div#metadata .title{
	width:30%;
	text-align: left;
	padding-left:5px;
}

div#metadata .descr{
	width:100%;
}


div#exportPdf{
	border: 1px outset #d4deff;
	background-color:transparent;
	background-image:url(../icons/silk/page_white_acrobat.png);
	background-position:0 0;
	background-repeat:no-repeat;
	height:16px;
	width:16px;
}

div#exportPdf:hover{ 
	border-style: inset;
}

div#printMetadata{
	border: 1px outset #d4deff;
	background-color:transparent;
	background-image:url(../icons/silk/printer.png);
	background-position:0 0;
	background-repeat:no-repeat;
	height:16px;
	width:16px;
}

.actionImg{
	height:26px;
	width:28px;
}

div#printMetadata:hover{ 
	border-style: inset;
}

div#exportXml{
	border: 1px outset #d4deff;
	background-color:transparent;
	background-image:url(../icons/silk/script_code.png);
	background-position:0 0;
	background-repeat:no-repeat;
	height:16px;
	width:16px;
}

div#exportXml:hover{ 
	border-style: inset;
}

div#orderProduct{
	border: 1px outset #d4deff;
	background-color:transparent;
	background-image:url(../icons/silk/cart_go.png);
	background-position:0 0;
	background-repeat:no-repeat;
	height:16px;
	width:16px;
}

div#orderProduct:hover{ 
	border-style: inset;
}
