/* setting font fixes combobox rendering issues in IE. See
 * http://extjs.com/forum/showthread.php?t=72505 */
body {
    font-family:helvetica,tahoma,verdana,sans-serif;
}

/* don't wrap lines on any tooltips */
.x-tip {
    white-space: nowrap;
}

/* application css goes here */

.olControlAttribution {
    text-align: right;
    font-size: 9px;
    bottom: 2px;
}

#main{
	min-height: 0 !important;
}

body.contentpane {
    margin: 0px !important;
}

tr, td {
    border: 0px solid #DDDDDD !important;
}

div.map-overlay {
    left: 10px !important;
    right :auto !important
}

.gxp-icon-getfeatureinfo{
	height: 0px !important;
	width: 0px !important;
}

#hiddentbar{
	padding: 0px !important;
	border-width: 0px !important;
	
}