/* sdiMapAlertControl */
.sdiMapAlertControl{
    display: block;
    width: 80%;
    left: 10%;
    top: 4px;
    background-color: rgba(255, 255, 255, 0.75);
    border: 0;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    color: #cc0000;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}


div#thirdparty-info{margin-top: 1em;}
div.shop-product .table td{ width: 75%; word-break: break-all}
div.shop-product .table td.price_column{ width: auto; min-width: 132px; text-align: right}
div.shop-product .table td.action_column{ width: 5%}
div.shop-product .table tfoot td{ text-align: right}
div.modal.fade {-webkit-transition: initial;-moz-transition: initial;-o-transition: initial;transition: initial}