
.previousBtn {
  background-image: url("../../../../../templates/easysdi_map/icons/silk/resultset_previous.png") !Important;
  width:16px !Important;
  height :16px !Important;
  background-repeat:no-repeat !Important;
  
}

.nextBtn {
  background-image: url("../../../../../templates/easysdi_map/icons/silk/resultset_next.png") !Important;
   width:16px !Important;
  height :16px !Important;
  background-repeat:no-repeat !Important;
}

.navBtn {
  background-image: url("../../../../../templates/easysdi_map/icons/geosilk/pan.png") !Important;
   width:16px !Important;
  height :16px !Important;
  background-repeat:no-repeat !Important;
}

.selectBtn {
  background-image: url("../../../../../templates/easysdi_map/icons/silk/information.png") !Important;
   width:16px !Important;
  height :16px !Important;
  background-repeat:no-repeat !Important;
}

.printMapBtn {
	background-image: url("../../../../../templates/easysdi_map/icons/silk/printer.png") !Important;
	 width:16px !Important;
  height :16px !Important;
  background-repeat:no-repeat !Important;
}

.pdfBtn {
	background-image: url("../../../../../templates/easysdi_map/icons/silk/page_white_acrobat.png") !Important;
	 width:16px !Important;
  height :16px !Important;
  background-repeat:no-repeat !Important;
}

.saveMapBtn {
	background-image: url("../../../../../templates/easysdi_map/icons/silk/disk.png") !Important;
	 width:16px !Important;
  height :16px !Important;
  background-repeat:no-repeat !Important;
}

.printLegendBtn {
	background-image: url("../../../../../templates/easysdi_map/icons/silk/printer.png") !Important;
	 width:16px !Important;
  height :16px !Important;
  background-repeat:no-repeat !Important;
}

.zoomInBoxBtn {
  background-image: url("../../../../../templates/easysdi_map/icons/silk/zoom_in.png") !Important;
   width:16px !Important;
  height :16px !Important;
  background-repeat:no-repeat !Important;
}

.zoomOutBoxBtn {
  background-image: url("../../../../../templates/easysdi_map/icons/silk/zoom_out.png") !Important;
   width:16px !Important;
  height :16px !Important;
  background-repeat:no-repeat !Important;
}



