<?xml version="1.0" encoding="utf-8"?>
<form>
	<fieldset>
		<field 	name="id" 
				type="text" 
				default="0" 
				label="COM_EASYSDI_MAP_FORM_LBL_CONTEXT_ID"
                readonly="true" 
                class="readonly"
                description="JGLOBAL_FIELD_ID_DESC" /> 

       <field 	name="guid" 
       			type="text" 
       			size="40" 
       			class="inputbox"
	            label="COM_EASYSDI_MAP_FORM_LBL_CONTEXT_GUID"
    	        description="COM_EASYSDI_MAP_FORM_DESC_CONTEXT_GUID" 
                filter="safehtml" /> 

       <field 	name="alias" 
       			type="text" 
       			size="40" 
       			class="inputbox"
	            label="COM_EASYSDI_MAP_FORM_LBL_CONTEXT_ALIAS"
       		    description="COM_EASYSDI_MAP_FORM_DESC_CONTEXT_ALIAS" 
                filter="safehtml" />
                 
       <field 	name="access"
				type="accesslevel"
				label="JFIELD_ACCESS_LABEL"
				description="JFIELD_ACCESS_DESC"
				class="inputbox"
				size="1" /> 

       <field 	name="created" 
       			type="timecreated" 
       			default="" 
            	label="COM_EASYSDI_MAP_FORM_LBL_CONTEXT_CREATED"
            	description="COM_EASYSDI_MAP_FORM_DESC_CONTEXT_CREATED"  /> 

       <field 	name="created_by" 
       			type="createdby" 
       			default="" 
            	label="COM_EASYSDI_MAP_FORM_LBL_CONTEXT_CREATED_BY"
            	description="COM_EASYSDI_MAP_FORM_DESC_CONTEXT_CREATED_BY"  /> 

       <field 	name="modified_by" 
       			type="text" 
       			size="40" 
       			class="inputbox"
	            label="COM_EASYSDI_MAP_FORM_LBL_CONTEXT_MODIFIED_BY"
    	        description="COM_EASYSDI_MAP_FORM_DESC_CONTEXT_MODIFIED_BY" 
                filter="safehtml" /> 

       <field 	name="modified" 
       			type="timeupdated" 
       			default="" 
            	label="COM_EASYSDI_MAP_FORM_LBL_CONTEXT_MODIFIED"
            	description="COM_EASYSDI_MAP_FORM_DESC_CONTEXT_MODIFIED"  /> 

       <field 	name="name" 
       			type="text" 
       			size="40" 
       			class="inputbox"
	            label="COM_EASYSDI_MAP_FORM_LBL_CONTEXT_NAME"
    	        description="COM_EASYSDI_MAP_FORM_DESC_CONTEXT_NAME" 
                required="true" 
                filter="safehtml" /> 

       <field 	name="srs" 
       			type="text" 
       			size="40" 
       			class="inputbox"
	            label="COM_EASYSDI_MAP_FORM_LBL_CONTEXT_SRS"
    	        description="COM_EASYSDI_MAP_FORM_DESC_CONTEXT_SRS" 
                required="true" 
                filter="safehtml" /> 

       <field 	name="unit" 
       			type="text" 
       			size="40" 
       			class="inputbox"
	            label="COM_EASYSDI_MAP_FORM_LBL_CONTEXT_UNIT"
    	        description="COM_EASYSDI_MAP_FORM_DESC_CONTEXT_UNIT" 
                required="true" 
                filter="safehtml" /> 

       <field 	name="centercoordinates" 
       			type="text" 
       			size="40" 
       			class="inputbox"
	            label="COM_EASYSDI_MAP_FORM_LBL_CONTEXT_CENTERCOORDINATES"
    	        description="COM_EASYSDI_MAP_FORM_DESC_CONTEXT_CENTERCOORDINATES" 
                filter="safehtml" /> 

       <field 	name="maxresolution" 
       			type="text" 
       			size="40" class="inputbox"
	            label="COM_EASYSDI_MAP_FORM_LBL_CONTEXT_MAXRESOLUTION"
    	        description="COM_EASYSDI_MAP_FORM_DESC_CONTEXT_MAXRESOLUTION" 
                filter="safehtml" /> 

       <field 	name="maxextent" 
       			type="text" 
       			size="40" 
       			class="inputbox"
	            label="COM_EASYSDI_MAP_FORM_LBL_CONTEXT_MAXEXTENT"
    	        description="COM_EASYSDI_MAP_FORM_DESC_CONTEXT_MAXEXTENT" 
                filter="safehtml" /> 

       <field 	name="abstract" 
       			type="editor" 
       			buttons="true"
                class="inputbox"
                filter="safehtml"
	            label="COM_EASYSDI_MAP_FORM_LBL_CONTEXT_ABSTRACT"
    	        description="COM_EASYSDI_MAP_FORM_DESC_CONTEXT_ABSTRACT"  /> 

         <field name="state"
                type="list"
                label="JSTATUS"
                description="JFIELD_PUBLISHED_DESC"
                class="inputbox"
                size="1"
                default="1">
                <option value="1">JPUBLISHED</option>
                <option value="0">JUNPUBLISHED</option>
            </field> 

		<field name="checked_out" type="hidden" filter="unset" />
        <field name="checked_out_time" type="hidden" filter="unset" />
        <field name="asset_id" type="hidden" filter="SAFEHTML" />
	</fieldset>

	<fieldset name="rulesdefinition">
		<field 	name="rules" 
				type="rules" 
				label="JFIELD_RULES_LABEL"
				translate_label="true" 
				class="inputbox" 
				filter="rules"
				component="com_easysdi_map" 
				section="context" 
				validate="rules"
		/>
	</fieldset>
</form>
