<?xml version="1.0" encoding="utf-8"?>
<form>
	<fieldset name="details">
		<field 	name="name" 
       			type="text" 
       			size="40" 
       			class="inputbox"
	            label="COM_EASYSDI_MAP_FORM_LBL_CONTEXT_NAME"
    	        description="COM_EASYSDI_MAP_FORM_DESC_CONTEXT_NAME" 
                required="true" 
                filter="safehtml" /> 
                
		<field 	name="alias" 
       			type="text" 
       			size="40" 
       			class="inputbox"
	            label="COM_EASYSDI_MAP_FORM_LBL_CONTEXT_ALIAS"
       		    description="COM_EASYSDI_MAP_FORM_DESC_CONTEXT_ALIAS" 
                filter="safehtml" />
        
        <field 	name="url" 
       			readonly="true"
       			size="100" 
       			label="COM_EASYSDI_MAP_FORM_LBL_CONTEXT_URL"
       		    description="COM_EASYSDI_MAP_FORM_DESC_CONTEXT_URL" 
                filter="safehtml" />
                 
        <field 	name="groups" 
				type="sql" 
				class="inputbox"
				size="10"
				label="COM_EASYSDI_MAP_FORM_LBL_LAYER_GROUP_ID"
				description="COM_EASYSDI_MAP_FORM_DESC_LAYER_GROUP_ID" 
				multiple ="true"
                translate="true" 
                required="true"
                query="SELECT null AS id, '- Please select -' AS name UNION SELECT id, name FROM #__sdi_map_group WHERE state=1" key_field="id" value_field="name"
                 />

	   <field 	name="services" 
				type="ServicegroupedList" 
				multiple ="true"
				class="inputbox"
				size="10"
				label="COM_EASYSDI_MAP_FORM_LBL_LAYER_SERVICE_ID"
				description="COM_EASYSDI_MAP_FORM_DESC_LAYER_SERVICE_ID" 
                required="true"
                 />
                 
       <field 	name="access"
				type="accesslevel"
				label="JFIELD_ACCESS_LABEL"
				description="JFIELD_ACCESS_DESC"
				class="inputbox"
				size="1" /> 

 		<field name="state"
                type="list"
                label="JSTATUS"
                description="JFIELD_PUBLISHED_DESC"
                class="inputbox"
                size="1"
                default="1">
                <option value="1">JPUBLISHED</option>
                <option value="0">JUNPUBLISHED</option>
            </field> 
            
       <field 	name="srs" 
       			type="text" 
       			size="40" 
       			class="inputbox"
	            label="COM_EASYSDI_MAP_FORM_LBL_CONTEXT_SRS"
    	        description="COM_EASYSDI_MAP_FORM_DESC_CONTEXT_SRS" 
                required="true" 
                filter="safehtml" /> 
                
       <field 	name="unit_id" 
				type="sql" 
				class="inputbox"
				label="COM_EASYSDI_MAP_FORM_LBL_CONTEXT_UNIT"
				description="COM_EASYSDI_MAP_FORM_DESC_CONTEXT_UNIT" 
                translate="true" 
                required="true"
                query="SELECT null AS id, '- Please select -' AS name UNION SELECT id, name FROM #__sdi_sys_unit" key_field="id" value_field="name"
                 /> 

       <field 	name="centercoordinates" 
       			type="text" 
       			size="40" 
       			class="inputbox"
	            label="COM_EASYSDI_MAP_FORM_LBL_CONTEXT_CENTERCOORDINATES"
    	        description="COM_EASYSDI_MAP_FORM_DESC_CONTEXT_CENTERCOORDINATES" 
    	        required="true"
                filter="safehtml" /> 

       <field 	name="maxresolution" 
       			type="text" 
       			size="40" class="inputbox"
	            label="COM_EASYSDI_MAP_FORM_LBL_CONTEXT_MAXRESOLUTION"
    	        description="COM_EASYSDI_MAP_FORM_DESC_CONTEXT_MAXRESOLUTION" 
    	         required="true"
                filter="safehtml" /> 

       <field 	name="maxextent" 
       			type="text" 
       			size="40" 
       			class="inputbox"
	            label="COM_EASYSDI_MAP_FORM_LBL_CONTEXT_MAXEXTENT"
    	        description="COM_EASYSDI_MAP_FORM_DESC_CONTEXT_MAXEXTENT" 
    	        required="true"
                filter="safehtml" />
                 
       <field 	name="title" 
       			type="text" 
       			size="40" 
       			class="inputbox"
	            label="COM_EASYSDI_MAP_FORM_LBL_CONTEXT_TITLE"
       		    description="COM_EASYSDI_MAP_FORM_DESC_CONTEXT_TITLE" 
                filter="safehtml" />
   				
       <field 	name="abstract" 
       			type="textarea" 
       			filter="safehtml"
                rows="6"
                cols="25"
	            label="COM_EASYSDI_MAP_FORM_LBL_CONTEXT_ABSTRACT"
    	        description="COM_EASYSDI_MAP_FORM_DESC_CONTEXT_ABSTRACT"  /> 

		<field name="id" type="hidden" filter="SAFEHTML" />
		<field name="guid" type="hidden" filter="SAFEHTML" />
		<field name="checked_out" type="hidden" filter="unset" />
		<field name="checked_out" type="hidden" filter="unset" />
        <field name="checked_out_time" type="hidden" filter="unset" />
        <field name="asset_id" type="hidden" filter="SAFEHTML" />
	</fieldset>
	
	<fieldset name="toolsstate">
		<field 	name="tools"
   				type="sdidatabasecheckboxes"
   				class="inputbox"
   				valuefield="id"
   				textfield="name"
   				disable = "false"
   				sourcetable="#__sdi_sys_map_tool"
   				label="COM_EASYSDI_MAP_FORM_LBL_CONTEXT_TOOLS"
   				description="COM_EASYSDI_MAP_FORM_DESC_CONTEXT_TOOLS" />
	</fieldset>
	
	<fieldset name="publishing">
		 <field name="created_by" 
       			type="user" 
				class="readonly"
       			readonly="true"
            	label="COM_EASYSDI_MAP_FORM_LBL_CONTEXT_CREATED_BY"
            	description="COM_EASYSDI_MAP_FORM_DESC_CONTEXT_CREATED_BY"  
            	filter="unset" /> 
            	
		<field 	name="created" 
       			type="calendar" 
       			class="readonly"
       			readonly="true"
                default="0000-00-00 00:00:00" 
            	label="COM_EASYSDI_MAP_FORM_LBL_CONTEXT_CREATED"
            	description="COM_EASYSDI_MAP_FORM_DESC_CONTEXT_CREATED"  
            	filter="safehtml" /> 

      

       <field 	name="modified_by" 
       			type="user" 
				class="readonly"
       			readonly="true"
       			label="COM_EASYSDI_MAP_FORM_LBL_CONTEXT_MODIFIED_BY"
    	        description="COM_EASYSDI_MAP_FORM_DESC_CONTEXT_MODIFIED_BY" 
                filter="unset" /> 

       <field 	name="modified" 
       			type="calendar" 
       			class="readonly"
       			readonly="true"
                default="0000-00-00 00:00:00"  
            	label="COM_EASYSDI_MAP_FORM_LBL_CONTEXT_MODIFIED"
            	description="COM_EASYSDI_MAP_FORM_DESC_CONTEXT_MODIFIED"  
            	filter="safehtml" />
	</fieldset>
	
	<fieldset name="rulesdefinition">
		<field 	name="rules" 
				type="rules" 
				label="JFIELD_RULES_LABEL"
				translate_label="true" 
				class="inputbox" 
				filter="rules"
				component="com_easysdi_map" 
				section="context" 
				validate="rules"
		/>
	</fieldset>
</form>
