html, body{
height:100%;
}
.previousBtn {
  background-image: url("../icons/silk/resultset_previous.png") !Important;
  width:16px !Important;
  height :16px !Important;
  background-repeat:no-repeat !Important;
  
}

.nextBtn {
  background-image: url("../icons/silk/resultset_next.png") !Important;
   width:16px !Important;
  height :16px !Important;
  background-repeat:no-repeat !Important;
}

.navBtn {
  background-image: url("../icons/geosilk/pan.png") !Important;
   width:16px !Important;
  height :16px !Important;
  background-repeat:no-repeat !Important;
}

.selectBtn {
  background-image: url("../icons/silk/information.png") !Important;
   width:16px !Important;
  height :16px !Important;
  background-repeat:no-repeat !Important;
}

.printMapBtn {
	background-image: url("../icons/silk/printer.png") !Important;
	 width:16px !Important;
  height :16px !Important;
  background-repeat:no-repeat !Important;
}

.pdfBtn {
	background-image: url("../icons/silk/page_white_acrobat.png") !Important;
	 width:16px !Important;
  height :16px !Important;
  background-repeat:no-repeat !Important;
}

.saveMapBtn {
	background-image: url("../icons/silk/disk.png") !Important;
	 width:16px !Important;
  height :16px !Important;
  background-repeat:no-repeat !Important;
}

.printLegendBtn {
	background-image: url("../icons/silk/printer.png") !Important;
	 width:16px !Important;
  height :16px !Important;
  background-repeat:no-repeat !Important;
}

.zoomInBoxBtn {
  background-image: url("../icons/silk/zoom_in.png") !Important;
   width:16px !Important;
  height :16px !Important;
  background-repeat:no-repeat !Important;
}

.zoomOutBoxBtn {
  background-image: url("../icons/silk/zoom_out.png") !Important;
   width:16px !Important;
  height :16px !Important;
  background-repeat:no-repeat !Important;
}

.zoomToScaleBtn{
	background-image: url("../icons/silk/arrow_inout.png") !Important;
	 width:16px !Important;
  height :16px !Important;
  background-repeat:no-repeat !Important;
}

.rectangleBtn{
	background-image: url("../icons/silk/shape_square.png") !Important;
	 width:25px !Important;
  height :25px !Important;
  background-repeat:no-repeat !Important;
}

.polygonBtn{
	background-image: url("../images/draw_polygon_off.png") !Important;
	 width:25px !Important;
  height :25px !Important;
  background-repeat:no-repeat !Important;
}

.pointBtn{
	background-image: url("../images/draw_point_off.png") !Important;
	 width:25px !Important;
  height :25px !Important;
  background-repeat:no-repeat !Important;
}

.pathBtn{
	background-image: url("../images/draw_line_off.png") !Important;
	 width:25px !Important;
  height :25px !Important;
  background-repeat:no-repeat !Important;
}

.modifyFeatureBtn{
	background-image: url("../images/move_feature_off.png") !Important;
	 width:25px !Important;
  height :25px !Important;
  background-repeat:no-repeat !Important;
}

.deleteFeatureBtn{
	background-image: url("../icons/silk/bin_closed.png") !Important;
	 width:25px !Important;
  height :25px !Important;
  background-repeat:no-repeat !Important;
}

.styleChooserBtn{
	background-image: url("../icons/silk/color_swatch.png") !Important;
	 width:25px !Important;
  height :25px !Important;
  background-repeat:no-repeat !Important;
}

.downArrow {
   background-image : url('../icons/silk/arrow_down.png') !Important;
    width:16px !Important;
  height :16px !Important;
  background-repeat:no-repeat !Important;
}

.upArrow {
   background-image : url('../icons/silk/arrow_up.png') !Important;
    width:16px !Important;
  height :16px !Important;
  background-repeat:no-repeat !Important;
}

.rightArrow {
   background-image : url('../icons/silk/arrow_right.png') !Important;
    width:16px !Important;
  height :16px !Important;
  background-repeat:no-repeat !Important;
}

.leftArrow {
   background-image : url('../icons/silk/arrow_left.png') !Important;
    width:16px !Important;
  height :16px !Important;
  background-repeat:no-repeat !Important;
}

.addSearchBtn {
  background-image : url('../icons/silk/add.png') !Important;
   width:16px !Important;
  height :16px !Important;
  background-repeat:no-repeat !Important;
}

.clearSearchBtn {
  background-image : url('../icons/geosilk/erase.png') !Important;
   width:16px !Important;
  height :16px !Important;
  background-repeat:no-repeat !Important;
}

.removeSearchBtn {
  background-image : url('../icons/silk/delete.png') !Important;
   width:16px !Important;
  height :16px !Important;
  background-repeat:no-repeat !Important;
}

.saveBtn {
  background-image : url('../icons/silk/disk.png') !Important;
   width:16px !Important;
  height :16px !Important;
  background-repeat:no-repeat !Important;
}

.loadBtn {
  background-image : url('../icons/silk/folder_page.png') !Important;
   width:16px !Important;
  height :16px !Important;
  background-repeat:no-repeat !Important;
}

.zoom {
  background-image : url('../icons/silk/zoom.png') !Important;
   width:16px !Important;
  height :16px !Important;
  background-repeat:no-repeat !Important;
}

.highlightFeature {
  background-image : url('../icons/silk/shape_move_forwards.png') !Important;
   width:16px !Important;
  height :16px !Important;
  background-repeat:no-repeat !Important;
}

.commentAdd {
  background-image : url('../icons/silk/comment_add.png') !Important;
}

.printBtn {
  background-image : url('../icons/silk/printer.png') !Important;
   width:16px !Important;
  height :16px !Important;
  background-repeat:no-repeat !Important;
}

.rptBtn {
  background-image : url('../icons/silk/table.png') !Important;
   width:16px !Important;
  height :16px !Important;
  background-repeat:no-repeat !Important;
}

.externalRpt {
  background-image : url('../icons/silk/report_go.png') !Important;
   width:16px !Important;
  height :16px !Important;
  background-repeat:no-repeat !Important;
}

.folderLayer {
  background-image : url('../icons/geosilk/folder_layer.png') !Important;
   width:16px !Important;
  height :16px !Important;
  background-repeat:no-repeat !Important;
}

.baseLayer {
  background: url('../icons/silk/map.png') no-repeat !Important;
   width:16px !Important;
  height :16px !Important;
  background-repeat:no-repeat !Important;
  
}

.overlayLayer {
  background-image : url('../icons/silk/layers.png')  !Important;
   width:16px !Important;
  height :16px !Important;
  background-repeat:no-repeat !Important;
}

.hiddenLayer a span {
  font-style:italic !Important;
  color: grey !Important;
  text-decoration: none;
}

.hiddenLayerIcon a span {
	background-image : url('../icons/silk/page_white_text_width.png') !Important;
	 width:16px !Important;
  height :16px !Important;
  background-repeat:no-repeat !Important;
}

.metadataAvailable a span {
 	color: blue !Important;
    text-decoration:underline !Important;
}

.grid {
  background-image : url('../icons/geosilk/raster.png') !Important;
}

.midstate_checkbox {
  background-image : url('../icons/other/part-checked.gif') !Important;
}

.color_swatch {
  background-image : url('../icons/silk/color_swatch.png') !Important;
}

.resultset_first {
  background-image : url('../icons/silk/resultset_first.png') !Important;
}

.resultset_previous {
  background-image : url('../icons/silk/resultset_previous.png') !Important;
}

.resultset_next {
  background-image : url('../icons/silk/resultset_next.png') !Important;
}

.resultset_last {
  background-image : url('../icons/silk/resultset_last.png') !Important;
}

.table_refresh {
  background-image : url('../icons/silk/table_refresh.png') !Important;
}

.x-toolbar .ytb-spacer {
  margin-left: 8px;
}

.inactiveTab .x-tab-strip-text {
  font-style: italic !Important;
}

.msg-wait {
  background:transparent url(../images/loading.gif) no-repeat top left;
}

.x-tree-node img {
  width: 16px;
  height: 16px;
}

#legend label {
  display: inline-block;
  *display: inline;
  width: 50%;
  margin: 5px;
  vertical-align: top;
}

#legend .graphic {
  margin: 3px;
  width: 13px;
  height: 13px;
}

#legend .legend-icon {
  margin: 3px;
  width: 16px;
  height: 16px;
}

#legend .graphic div div {
  height: 13px;
}

#legend .legend-icon div div {
  height: 18px;
  width: 18px;
}


.helptip {
  margin-right: 4px;
  border-bottom: dotted blue 1px;
  color: blue;
}

#detailsgrid {
  margin: 20px;
}

#detailsgrid label {
  display: inline-block;
  *display: inline;
  vertical-align: top;
  background-color: #eeeeee;
  color: #000070;
  font-weight: bold;
  padding: 5px;
  width: 150px;
  border-color:#EEEEEE #AAAAAA #AAAAAA #EEEEEE;
  border-style:solid;
  border-width:1px;
}

#detailsgrid span {
  display: inline-block;
  *display: inline;
  padding: 5px 20px 5px 5px;
  vertical-align: top;
}

.cat-head-table table {
  border-collapse: collapse;
}

.category-headers {
  background-color: #E1EBE0;
}

.category-headers th {
  border-right: solid silver 1px;
  padding: 4px;
}

.error {
  background-color: #ffffff;
  color: #ff0000;
  border: solid black 1px;
  padding: 8px;
}

#printreport {
  background-color: #ffffff;
}

#printreport table {
 border-collapse: collapse;
 margin: 20px;
}

#printreport table thead th {
  border: solid black 1px;
  padding-left: 6px;
  padding-right: 6px;
  font-weight: bold;
}

#printreport tbody td {
  border: solid black 1px;
  padding-left: 6px;
  padding-right: 6px;
}

#banner {
  height: 81px;
  background: url(../images/bg-banner.png) repeat-x;
}

#banner-bg {
  height: 81px;
  background: url(../images/bg-banner.gif) repeat-x;
}

div.comment {
  margin-bottom: 8px;
}

div.comment span {
  text-transform: uppercase;
  font-size: 78%;
  font-family: "Trebuchet MS",Trebuchet,Arial,Verdana,Sans-serif;
}

.grid-no-header .x-grid3-header {
	display: none;
}
	
.grid-no-header .x-grid3-row {
  border-style: none; 
}	

.x-form-field-wrap .x-form-refresh-trigger{
    background-image: url('../images/refresh-trigger.gif');
}

div.search-item { 
  padding: 4px;
}

div.search-item h3 { 
  margin-bottom: 2px;
  font-size: 1.2em;
}

div.x-view-over {
  border: solid blue 1px;
  padding: 3px !Important;
}

div.x-view-selected {
  border: solid white 2px;
  background-color: #eeeeff;
  padding: 2px !Important;
}

.x-toolbar .x-form-toolbar-standardButton .x-btn-left { 
	background: url(../images/btn-sprite.gif) no-repeat 0px -147px;
}

.x-toolbar .x-form-toolbar-standardButton .x-btn-center { 
	background: url(../images/btn-sprite.gif) repeat-x 0px -189px; 
	text-align: center;
}

.x-toolbar .x-form-toolbar-standardButton .x-btn-right { 
	background: url(../images/btn-sprite.gif) no-repeat 0px -168px;
}

.x-toolbar .x-form-toolbar-standardButton.x-btn-over .x-btn-left{ 
	background: url(../images/btn-sprite.gif) no-repeat 0px -63px;
}

.x-toolbar .x-form-toolbar-standardButton.x-btn-over .x-btn-center{ 
	background: url(../images/btn-sprite.gif) repeat-x 0px -105px;
}

.x-toolbar .x-form-toolbar-standardButton.x-btn-over .x-btn-right{ 
	background: url(../images/btn-sprite.gif) no-repeat 0px -84px;
}

.x-toolbar .x-form-toolbar-standardButton.x-btn-click .x-btn-center, .x-btn-menu-active .x-btn-center{ 
	background-position:0 -126px;
}

.x-border-layout-ct{
	background: #ffffff;
}

.legendPanel {
	overflow-x: scroll !important;
}

.mapAutoHeight
{
	position:absolute;
	top:0px;
	bottom: 0;
	left:0;
	right:0;
}

.loader
{
	width: 100%;  
	text-align: center;
}

.x-btn-small tr {
    float: left;
    display: inline;
    valign: center;
}

tr .x-btn-tl, tr .x-btn-tc, tr .x-btn-tr, tr .x-btn-bl, tr .x-btn-bc, tr .x-btn-br {
    float: left;
    display: inline;
    width: 0px;
}
/*
.x-toolbar-cell {
    padding: 0px!important;
    margin: 0px!important;
    position: relative;
    float: left;
    display: inline;
    height: auto;
    vertical-align: middle;
}*/

.x-btn-icon .x-btn-center .x-btn-text {
	background-position: center center;
	background-repeat: no-repeat;
	cursor: pointer;
	height: 16px;
	padding: 0;
	white-space: nowrap;
	width: 16px;
}


.x-toolbar-ct {
	width: 100%;
}

td.x-toolbar-left {
	width: 50%;
}
td.x-toolbar-right {
	width: 50%;
}
.x-toolbar-cell {
	padding: 1px !important;

}
.olControlLoadingPanel {
            background-image:url(../images/loadingPanel.gif);
            position: relative !important;
            width: 195px;
            height: 11px;   
            background-position:center;
            background-repeat:no-repeat;
            display: none;
            top :97.5%!important;
       
            
        }

#companyBackgroundImg{
	width:100%;
	z-index : 0;
	position : fixed;
}
/*#companyBanner {
 	background: url("../images/fond_map_crigeos.png") repeat scroll left center transparent;
    height: 7%;
    position: relative;
    background-size : 100%;

}*/
#companyBanner {
 	
    height: 50px;
    position: relative;
    width:100%;
    z-index : 100;
    

}

#map {

    position: relative;
    height : 95%;

}

#southToolbar {
 top : 94% !important;
 height:5% !important
}

#companyLogo{
	
		background: url(../images/logo_map_crigeos.png) no-repeat left center;
		display : block;
		height :100%;
		width :330px;
		
}
/*#companyMessage{
	
	background: url("../images/texte_map_crigeos.png") no-repeat scroll 0 0 transparent; 
    height: 100%;
    left: 65%;
    position: relative;
    top :-40px;
    z-index :100;
    
    
}*/
#companyMessage{
	
	height: 100%;
    float: right;
    position: relative;
    top :-50px;
    z-index :100;
    
    
}

.x-toolbar-cell input {
	height:16px!important;
	top : 0px !important;
	position: relative !important;
	margin : 0px!important;
	padding : 0px!important;

}

.x-toolbar-cell img {
	height:16px!important;
	top : 0px !important;
	position: relative !important;
	margin : 0px!important;
	padding : 0px!important;
	vertical-align:middle;


}