.icon-48-layergroups {
      background-image: url(../images/l_layergroups.png);
      padding-left:60px!important;
}

.icon-48-layergroup {
      background-image: url(../images/l_layergroups.png);
      padding-left:60px!important;
}

.icon-48-maplayers {
      background-image: url(../images/l_maplayers.png);
      padding-left:60px!important;
}

.icon-48-maplayer {
      background-image: url(../images/l_maplayers.png);
      padding-left:60px!important;
}

.icon-48-mapcontexts {
      background-image: url(../images/l_mapcontexts.png);
      padding-left:60px!important;
}

.icon-48-mapcontext {
      background-image: url(../images/l_mapcontexts.png);
      padding-left:60px!important;
}

