.icon-48-groups {
	background-image: url(../images/l_groups.png);
	padding-left: 60px !important;
}

.icon-48-group {
	background-image: url(../images/l_groups.png);
	padding-left: 60px !important;
}

.icon-48-layers {
	background-image: url(../images/l_layers.png);
	padding-left: 60px !important;
}

.icon-48-layer {
	background-image: url(../images/l_layers.png);
	padding-left: 60px !important;
}

.icon-48-contexts {
	background-image: url(../images/l_contexts.png);
	padding-left: 60px !important;
}

.icon-48-context {
	background-image: url(../images/l_contexts.png);
	padding-left: 60px !important;
}