/** toolbar icons **/
.icon-32-tool_f2 	{ background-image: url(../images/toolbar/icon-32-tool_f2.png); }
.icon-32-preview	{ background-image: url(../images/toolbar/icon-32-preview.png); }
.icon-32-copy		{ background-image: url(../images/toolbar/icon-32-copy.png); }
.icon-32-back		{ background-image: url(../images/toolbar/icon-32-back.png); }