<?xml version="1.0" encoding="UTF-8"?>
<configurations>
	<config id="metacarta_open">
		<authorization>
			<policy-file>/var/lib/tomcat5/webapps/proxy/WEB-INF/conf/NewPolicy.xml
			</policy-file>
		</authorization>
		<servlet-class>org.easysdi.proxy.wms.WMSProxyServlet</servlet-class>
		<log-config>
			<file-structure>
				<path>/var/lib/tomcat5/webapps/proxy/WEB-INF/logs/</path>
				<suffix>wms</suffix>
				<prefix>metacarta</prefix>
				<extension>log</extension>
				<period>daily</period>
			</file-structure>
			<date-format>dd/MM/yyyy HH:mm:ss</date-format>
		</log-config>
		<host-translator />
		<remote-server-list>
			<remote-server master="true">
				<alias>metacarta</alias>
				<user />
				<url>http://labs.metacarta.com/wms/vmap0</url>
				<password />
			</remote-server>
		</remote-server-list>
	</config>
	<config id="gmap">
		<authorization>
			<policy-file>/var/lib/tomcat5/webapps/proxy/WEB-INF/conf/NewPolicy.xml
			</policy-file>
		</authorization>
		<servlet-class>org.easysdi.proxy.wms.WMSProxyServlet</servlet-class>
		<log-config>
			<file-structure>
				<path>/var/lib/tomcat5/webapps/proxy/WEB-INF/logs/</path>
				<suffix>wms</suffix>
				<prefix>gmap</prefix>
				<extension>log</extension>
				<period>daily</period>
			</file-structure>
			<date-format>dd/MM/yyyy HH:mm:ss</date-format>
		</log-config>
		<host-translator />
		<remote-server-list>
			<remote-server master="true">
				<alias>mswms</alias>
				<user />
				<url>http://www2.dmsolutions.ca/cgi-bin/mswms_gmap</url>
				<password />
			</remote-server>
		</remote-server-list>
	</config>
	<config id="mfwfs">
		<authorization>
			<policy-file>/var/lib/tomcat5/webapps/proxy/WEB-INF/conf/NewPolicy.xml
			</policy-file>
		</authorization>
		<servlet-class>org.easysdi.proxy.wfs.WFSProxyServlet</servlet-class>
		<log-config>
			<file-structure>
				<path>/var/lib/tomcat5/webapps/proxy/WEB-INF/logs/</path>
				<suffix>wfs</suffix>
				<prefix>mfwfs</prefix>
				<extension>log</extension>
				<period>daily</period>
			</file-structure>
			<date-format>dd/MM/yyyy HH:mm:ss</date-format>
		</log-config>
		<host-translator></host-translator>
		<remote-server-list>
			<remote-server master="true">
				<alias>mswfs</alias>
				<user></user>
				<url>http://www2.dmsolutions.ca/cgi-bin/mswfs_filter</url>
				<password></password>
			</remote-server>
		</remote-server-list>
	</config>
	<config id="geosignal">
		<authorization>
			<policy-file>/var/lib/tomcat5/webapps/proxy/WEB-INF/conf/NewPolicy.xml
		</policy-file>
		</authorization>
		<servlet-class>org.easysdi.proxy.wms.WMSProxyServlet</servlet-class>
		<log-config>
			<file-structure>
				<path>/var/lib/tomcat5/webapps/proxy/WEB-INF/logs/</path>
				<suffix>wms</suffix>
				<prefix>geosignal</prefix>
				<extension>log</extension>
				<period>daily</period>
			</file-structure>
			<date-format>dd/MM/yyyy HH:mm:ss</date-format>
		</log-config>
		<host-translator></host-translator>
		<remote-server-list>
			<remote-server master="true">
				<alias>geosignal</alias>
				<user></user>
				<url>http://www.geosignal.org/cgi-bin/wmsmap</url>
				<password></password>
			</remote-server>
		</remote-server-list>
	</config>
	<config id="WMTS">
    <authorization>
      <policy-file>/var/lib/tomcat5/webapps/proxy/WEB-INF/conf/NewPolicy.xml</policy-file>
    </authorization>
    <servlet-class>org.easysdi.proxy.wmts.v100.WMTS100ProxyServlet</servlet-class>
    <log-config>
      <file-structure>
        <path>/var/lib/tomcat5/webapps/proxy/WEB-INF/logs/</path>
        <suffix>wmts</suffix>
        <prefix>opengeo</prefix>
        <extension>log</extension>
        <period>daily</period>
      </file-structure>
      <date-format>dd/MM/yyyy HH:mm:ss:SSS</date-format>
    </log-config>
    <host-translator></host-translator>
    <remote-server-list>
    	<remote-server master="true">
    		<alias>opengeo</alias>
    		<user></user>
    		<url>http://v2.suite.opengeo.org/geoserver/gwc/service/wmts</url>
    		<password></password>
    	</remote-server>
    </remote-server-list>
    <exception>
      <mode>permissive</mode>
    </exception>
    <service-metadata>
      <ServiceProvider>
        <ProviderName>DEPTH SA</ProviderName>
        <ProviderSite>depth.ch</ProviderSite>
        <ResponsibleParty>
          <IndividualName>Depth</IndividualName>
          <PositionName>Dev Team</PositionName>
          <Role>Dev Team</Role>
          <Contact>
            <HoursofService/>
            <Instructions></Instructions>
            <onlineResource/>
            <Telephone>
              <VoicePhone>000000</VoicePhone>
              <Facsimile>00000</Facsimile>
            </Telephone>
            <Address>
              <AddressType>work</AddressType>
              <DelivryPoint>Chemin d'arche 40B</DelivryPoint>
              <PostalCode>1870</PostalCode>
              <City>Monthey</City>
              <Area>Valais</Area>
              <Country>Suisse</Country>
              <ElectronicMailAddress>helene.vanhoecke@depth.ch</ElectronicMailAddress>
            </Address>
            <HoursOfService></HoursOfService>
            <OnlineResource></OnlineResource>
          </Contact>
        </ResponsibleParty>
      </ServiceProvider>
      <ServiceIdentification>
        <Title>WMTS</Title>
        <Abstract>WMTS</Abstract>
        <KeywordList>
        	<Keyword>easysdi</Keyword>
        	<Keyword>wmts</Keyword>
        </KeywordList>
        <Fees>none</Fees>
        <AccessConstraints>none</AccessConstraints>
      </ServiceIdentification>
    </service-metadata>
  </config>
</configurations>