.icon-48-services {
      background-image: url(../images/L_services.png);
      padding-left:60px!important;
}

.icon-48-service {
      background-image: url(../images/L_services.png);
      padding-left:60px!important;
}

