/* these selector names are based on what you provide to the class */
	
	/* example 1 */
	.prog div
	{ 
		 border:1px solid #ccc;
		 width:80px;
		 height:12px;
  }
  
	.prog div div
	{ 
		 background:#ccc;
		 height:11px;
	}
	
	#text{
		 font-family:tahoma, arial, sans-serif;
		 font-size:10px;
		 color:#000;
		 position:absolute;
		 top: 20px;
		 left: 100px
  }
	