.icon-48-metadatas {
      background-image: url(../images/l_metadatas.png);
      padding-left:60px!important;
}

.icon-48-metadata {
      background-image: url(../images/l_metadatas.png);
      padding-left:60px!important;
}

.icon-48-catalogs {
      background-image: url(../images/l_catalogs.png);
      padding-left:60px!important;
}

.icon-48-catalog {
      background-image: url(../images/l_catalogs.png);
      padding-left:60px!important;
}

.icon-48-search_criterias {
      background-image: url(../images/l_search_criterias.png);
      padding-left:60px!important;
}

.icon-48-search_criteria {
      background-image: url(../images/l_search_criterias.png);
      padding-left:60px!important;
}

.icon-48-profiles {
      background-image: url(../images/l_profiles.png);
      padding-left:60px!important;
}

.icon-48-profile {
      background-image: url(../images/l_profiles.png);
      padding-left:60px!important;
}

.icon-48-classes {
      background-image: url(../images/l_classes.png);
      padding-left:60px!important;
}

.icon-48-class {
      background-image: url(../images/l_classes.png);
      padding-left:60px!important;
}

.icon-48-attributes {
      background-image: url(../images/l_attributes.png);
      padding-left:60px!important;
}

.icon-48-attribute {
      background-image: url(../images/l_attributes.png);
      padding-left:60px!important;
}

.icon-48-attribute_values {
      background-image: url(../images/l_attribute_values.png);
      padding-left:60px!important;
}

.icon-48-attribute_value {
      background-image: url(../images/l_attribute_values.png);
      padding-left:60px!important;
}

.icon-48-relations {
      background-image: url(../images/l_relations.png);
      padding-left:60px!important;
}

.icon-48-relation {
      background-image: url(../images/l_relations.png);
      padding-left:60px!important;
}

.icon-48-boundaries {
      background-image: url(../images/l_boundaries.png);
      padding-left:60px!important;
}

.icon-48-boundary {
      background-image: url(../images/l_boundaries.png);
      padding-left:60px!important;
}

.icon-48-boundariescategory {
      background-image: url(../images/l_boundariescategory.png);
      padding-left:60px!important;
}

.icon-48-boundarycategory {
      background-image: url(../images/l_boundariescategory.png);
      padding-left:60px!important;
}

.icon-48-importrefs {
      background-image: url(../images/l_importrefs.png);
      padding-left:60px!important;
}

.icon-48-importref {
      background-image: url(../images/l_importrefs.png);
      padding-left:60px!important;
}
